<template name="ClassEdit">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Add class</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Cancel"}}
  {{/contentFor}}




  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active saveClassBtn">save</button>
  {{/contentFor}}




  {{#ionView}}
    {{#ionContent}}



      {{#autoForm collection="Classes" id="updateClass" type="update" doc=classObj   }}




        <ul class="list ">
          <li class="item item-input">
            {{> afFieldInput name="className" placeholder="Class Name"  }}
          </li>
          <li class="item item-input">
            @ {{> afFieldInput name="classCode" class="classCode" placeholder="classcode" }}
          </li>


          <li class="item item-toggle">
            {{_ "AnyoneInThisClassCanStartAChat"}}

            <label class="toggle">
              {{> afFieldInput name="anyoneCanChat" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>


          <li class="item item-toggle">
            {{_ "IWillOnlyMessagePeople13AndOlder"}}
            <label class="toggle">
              {{> afFieldInput name="higherThirteen" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">
            Allow this class can be search

            <label class="toggle">
              {{> afFieldInput name="canBeSearch" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>


        </ul>



      {{/autoForm}}







      <div style="position: fixed; width: 100vw; bottom: 0;">

        <a class="button button-full button-assertive button-outline removeAllUserBtn">{{_"RemoveAllUsers"}}</a>
        <a class="button button-full button-assertive button-outline removeClass">{{_"RemoveClass"}}</a>
      </div>




    {{/ionContent}}
  {{/ionView}}
</template>
