<template name="ClassEdit">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Add class</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Cancel"}}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
    <button  class="button button-clear button-entering button-active saveClassBtn">save</button>
  {{/contentFor}}


 {{#ionView}}
{{#ionContent}}

{{#autoForm collection="Classes" id="updateClass" type="method" doc=classObj meteormethod="class/update"  }}


  <ul class="list ">
    <li class="item item-input">
      {{> afFieldInput name="className" placeholder="Class Name"  }}
    </li>
    <li class="item item-input">
      {{> afFieldInput name="classCode" placeholder="@classcode" readonly=true }}
    </li>


    <li class="item item-toggle">
      Anyone in this class can start a Chat

      <label class="toggle">
       {{> afFieldInput name="anyoneCanChat" }}
       <div class="track">
         <div class="handle"></div>
       </div>
      </label>
    </li>



    <li class="item item-toggle">
      I will only message people 13 and older

      <label class="toggle">
       {{> afFieldInput name="higherThirteen" }}
       <div class="track">
         <div class="handle"></div>
       </div>
      </label>
    </li>



  </ul>



{{/autoForm}}


  <div class="container">
    <div class="row row-center">
      <div class="col">{{classObj.className}}</div>
    </div>
    <div class="row">
      <div class="col">@{{classObj.classCode}}</div>
    </div>
    <div class="row">
      <div class="col">{{ownUser.profile.firstname}} {{ownUser.profile.lastname}}</div>
    </div>
  </div>





<div style="position: fixed; width: 100vw; bottom: 0;">
   <a class="button button-full button-assertive button-outline unsubscribeBtn">Unsubscribe form this class</a>
   <a class="button button-full button-assertive button-outline removeAllUserBtn">remove all user</a>
   <a class="button button-full button-assertive button-outline removeClass">remove class</a>
</div>




  {{/ionContent}}
   {{/ionView}}
</template>
