<template name="ClassEdit">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "EditClass" }}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <!--{{> ionNavBackButton text="{{_ "Cancel" }}" }}-->
    {{> ionNavBackButton text=" " }}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active saveClassBtn">{{_ "Save" }} </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#autoForm collection="Classes" id="updateClass" type="update" doc=classObj   }}

        <ul class="list ">
          <li class="item">
            <div class='row'>
              <div class='col col-50'>
                {{> afFieldInput name="classavatar" style='display:none;' value=getNewlyChosenAvatar }}    
                {{#if getNewlyChosenAvatar}}
                  <i id='pick-an-icon-btn' class="icon e1a-{{getNewlyChosenAvatar}} e1a-5x emojicon"></i>
                {{else}}                
                  <i id='pick-an-icon-btn' class="icon e1a-{{classObj.classavatar}} e1a-5x emojicon"></i>    
                {{/if}}                
              </div>
              <div class='col col-50'>
                <h3>{{> afFieldInput name="className" }}</h3>
                 <br/>
                <h3>@ {{classObj.classCode }}</h3>
              </div>   
            </div>            
          </li>          
          <li class="item item-toggle">
            {{_ "AnyoneInThisClassCanStartAChat"}}

            <label class="toggle">
              {{> afFieldInput name="anyoneCanChat" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">
            {{_ "IWillOnlyMessagePeople13AndOlder"}}
            <label class="toggle">
              {{> afFieldInput name="higherThirteen" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li> 
          <!--TODO change this localization + give a better name too complicated-->
          <!--<li class="item item-toggle">
            {{_ "Allow_this_class_to_be_searched" }}
            <label class="toggle">
              {{> afFieldInput name="canBeSearch" }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li> -->


        </ul>

      {{/autoForm}}

      <div style="position: fixed; width: 100vw; bottom: 0;">

        <!--<ul class="list ">-->
          <!--<li class="item item-input ion-">-->
            <!--DangerZone-->
            <!--&lt;!&ndash;{{_ "DangerZone"}}&ndash;&gt;-->
          <!--</li>-->
        <!--</ul>-->

        <a class="button button-full button-assertive button-outline removeAllUserBtn ion-alert-circled"> {{_ "RemoveAllUsers"}}</a>
        <a class="button button-full button-assertive button-outline removeClass ion-alert-circled"> {{_ "RemoveClass"}}</a>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
