.role-selection,
.number-of-student-selection{
    background-color: white;
}

.role-selection.chosen-role,
.number-of-student-selection.chosen-number-of-student{
    background-color: #94c528;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;    
}

.device-preview {
    width: 380px;
    height: 810px;
    background: url('/packages/smartix_accounts/client/asset/iphone6s-plus-silver-vertical.png') no-repeat top;
    background-size: contain;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.device-preview > div {
    position: absolute;
    top: 97px;
    left: 24px;
    z-index: 0;
    width: 331px;
    height: 584px;
    border: 4px solid #22272d;
    background-color: white;
    transition: opacity .2s ease-in-out;
}

.invalid input:required:invalid , .invalid textarea:required:invalid{
    border-color: #BE4C54;
    border-style:  solid;
    border-width: 1px;
}



