<template name="NotificationSetting">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "Notification"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path='TabYou' text=" "}}
  {{/contentFor}}



  {{#ionView}}
    {{#ionContent}}

      <div class="notification-setting">
        <ul class="list">
          <li class="item item-divider">
            {{_ "How_would_you_like_to_receive_notification"}}
          </li>
          
           
            {{#if isEmailVerified}}
            <li class="item item-toggle">
             <span>{{_ "Email"}}</span>
            <label class="toggle toggle-positive">
              <input type="checkbox" class="cb" data-type='email' {{checked 'emailNotifications'}} >

              <div class="track">
                <div class="handle"></div>
              </div>
            </label> 
            </li>          
            {{else}}
                <li class="item">
                    <a href='/EmailVerification'><span>{{_ "Email"}}</span>
                    <p><span class='genius-color'>Finish verification</span> to be notified by email</p>
                    </a>
                </li>
            {{/if}}
          
          <li class="item item-toggle">
            {{_ "PUSH"}}
            <label class="toggle toggle-positive">
              <input type="checkbox" class="cb" data-type='push' {{checked 'pushNotifications'}} >

              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>


        </ul>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
