<template name="InviteUser">

  {{#contentFor "headerTitle"}}
  <h1 class="title">Little Genius</h1> {{/contentFor}} {{#contentFor "headerButtonRight"}}

  {{/contentFor}}
   {{#ionContent}}
  
  {{#ionSlideBox}} 
  {{#ionSlide}}
  
    <div class="item text-center padding" style='background-color:lightgray;height:40%;'>
      <div class="padding">Download the app</div>
    </div>
    <div class="item" style='background-color:lightgray;height:20%;border-width:0px;'>
  
      <div class="row">
        <div class="col col-33 col-offset-10"><img src='' alt='app store icon'/></div>        
        <div class="col col-33 col-offset-20"><img src='' alt='google play icon'/></div>        
      </div>
  
 
    </div>
    <div class="item" style='background-color:darkgray;height:40%;'>
      <div class='text-center padding' ><i class="icon ion-ios-download-outline" style='font-size:3.2em;'></i></div>
      <div class='text-center' style='font-size:smaller' > Ask parents and students to download the App “LittleGenius” on App Store or on Google Play Store for Android </div>
    </div>
  
  {{/ionSlide}}
  
  {{#ionSlide}}
    <div class="item text-center padding" style='background-color:lightgray;height:40%;'>
      <div class="padding">In class instructions</div>
    </div>
    <div class="item" style='background-color:lightgray;height:20%;border-width:0px;'>
  
      <div class="row">
        <div class="col"><img src='' alt='app store icon'/></div>                
      </div>
  
 
    </div>
    <div class="item" style='background-color:darkgray;height:40%;'>
      <div class='text-center padding' ><i class="icon ion-ios-chatboxes-outline" style='font-size:3.2em;'></i></div>
      <div class='text-center' style='font-size:smaller' > Students and parents can join your class by joining the class of the class code. This works best when everyone is in
      the room together. </div>
    </div>
      
  {{/ionSlide}}
  {{#ionSlide}}
    <div class="item text-center padding" style='background-color:lightgray;height:40%;'>
      <div class="padding">Share a link</div>
    </div>
    <div class="item" style='background-color:lightgray;height:20%;border-width:0px;'>
  
      <div class="row">
        <div class="col col-33 col-offset-10"><img src='' alt='app store icon'/></div>        
        <div class="col col-33 col-offset-20"><img src='' alt='google play icon'/></div>        
      </div>
  
 
    </div>
    <div class="item" style='background-color:darkgray;height:40%;'>
      <div class='text-center padding' ><i class="icon ion-ios-upload-outline" style='font-size:3.2em;'></i></div>
      <div class='text-center' style='font-size:smaller' > Students and parents can visit this link to join your class. They can copy and paste in their browser.  </div>
    </div>
      
  {{/ionSlide}}
  {{#ionSlide}}
    <div class="item text-center padding" style='background-color:lightgray;height:40%;'>
      <div class="padding">Send invitations</div>
    </div>
    <div class="item" style='background-color:lightgray;height:20%;border-width:0px;'>
  
      <div class="row">
        <div class="col col-33 col-offset-10"><img src='' alt='app store icon'/></div>        
        <div class="col col-33 col-offset-20"><img src='' alt='google play icon'/></div>        
      </div>
  
 
    </div>
    <div class="item" style='background-color:darkgray;height:40%;'>
      <div class='text-center padding' ><i class="icon ion-ios-email-outline" style='font-size:3.2em;'></i></div>
      <div class='text-center' style='font-size:smaller' > Send email invitation for students and parents to join your class. This is a great way to add people you don’t see very
      often.  </div>
    </div>
      
  {{/ionSlide}}
  {{#ionSlide}}
  
    <div class="item text-center padding" style='background-color:lightgray;height:40%;'>
      <div class="padding">OK got it</div>
    </div>
    <div class="item" style='background-color:lightgray;height:20%;border-width:0px;'>
  
      <div class="row">
        <div class="col col-33 col-offset-10"><img src='' alt='app store icon'/></div>        
        <div class="col col-33 col-offset-20"><img src='' alt='google play icon'/></div>        
      </div>
  
 
    </div>
    <div class="item" style='background-color:darkgray;height:40%;'>
      <div class='text-center padding' ><i class="icon ion-ios-checkmark-outline" style='font-size:3.2em;'></i></div>
      <div class='text-center' style='font-size:smaller' > Enjoy the app and get more engagement from students and parents! </div>
      <a href="{{pathFor 'TabClasses' }}" class="button button-full button-balanced">
        Okay!
      </a>      
    </div>
    
      
  <div class="card">
    <div class="item ">
     <h1> <i class="icon ion-ios-sunny"></i>OK got it</h1>
    </div>
   <div class="item item-image">
    <img width=438px height=321px src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Symbol_OK.svg/160px-Symbol_OK.svg.png">
  </div>   
    <div class="item item-text-wrap"> Enjoy the app and get more engagement from students and parents </div>
  </div>
  {{/ionSlide}}
  {{/ionSlideBox}}} {{/ionContent}}


</template>