

.device {
  position: absolute;
  
  width: 315px;
  height: 813px;
  background-image: url("/img/iphone5-vertical-top.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin:0 auto;
  left:12px;
  right:0;
  bottom:-580px;
}

.device-content {
  position: absolute;
  top: 97px;
  left: 26px;
  width: 266px;
  height: 577px;
  overflow: hidden;
  background-color: #fff;
  border: 0;
}

.device-with-contact {
  position: absolute;
  
  width: 298px;
  height: 813px;
  background-image: url("/img/contact.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin:0 auto;
  left:5px;
  right:0;
  bottom:-538px;
}

.strong {
  font-weight: bold;
}