<template name="PrivacyPolicy.fr">
<main class="main">
  <div class="content-header">
    <h1>Politique de confidentialité</h1>
  </div>

  <div class="content">
    <div class="container">
      <nav class="nav-sidebar">
        <a href="/terms-of-service">Terms of service</a>
        <a href="/privacy-policy">Privacy policy</a>
        <a href="/community-guidelines">Community guidelines</a>
        <a href="http://help.littlegenius.io">FAQ</a>
        <a href="mailto:contact@littlegenius.io">Contact us</a>
      </nav>


      <div class="content-column">
        <div class="columns columns---loose">
          <section class="column-2-3 column-desktop-1">
            <p>
              Chez Little Genius Education Limited (« Little Genius », « nous », « notre », « nos »), nous savons que
              vous vous souciez de la façon dont vos données personnelles sont utilisées et partagées, et nous prenons
              votre vie privée au sérieux. Continuez à lire cette page pour en savoir plus sur notre politique de
              confidentialité. En visitant le site Web de Little Genius à l'adresse littlegenius.io ou tout autre site
              Web, application, nom de domaine nous appartenant ou toute autre page associée, ou en utilisant l'un de
              nos services (collectivement désignés les « Services »), vous reconnaissez que vous acceptez les pratiques
              et politiques décrites dans cette politique de confidentialité. En utilisant nos Services, vous acceptez
              que vos données personnelles soient transférées vers et traitées à Hong Kong.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Le respect de votre vie privée nous tient à cœur. Cette politique vous explique comment vos données
              personnelles sont utilisées après la création d'un compte Little Genius. En utilisant Little Genius, vous
              reconnaissez que vous avez lu et accepté ces politiques. Little Genius respecte vos informations et les
              traite avec précaution.
            </p>
          </section>
          <hr>
          <section class="column-2-3 column-desktop-1">
            <p>
              Vous êtes responsable de tout Contenu (selon la définition du terme dans nos <a href="/terms-of-service">conditions
              d'utilisation</a>) que vous fournissez en lien avec les Services. Nous ne sommes pas en mesure de
              contrôler les actions des utilisateurs avec qui vous ou n'importe quel abonné à nos Services choisissez de
              partager des informations. Par conséquent, nous ne pouvons garantir que le Contenu posté sur les Services
              par vous ou n'importe quel autre utilisateur ne sera pas visionné par des personnes non autorisées. Bien
              que nous permettions à nos utilisateurs de définir des paramètres de confidentialité qui limitent l'accès
              à certaines parties des Services, veuillez noter qu'aucune mesure de sécurité n'est parfaite ni
              infaillible et que nous ne sommes pas responsables du contournement des mesures de sécurité protégeant les
              Services. Vous comprenez et reconnaissez que, même après sa suppression, des copies du Contenu peuvent
              toujours être visionnées dans les pages en cache et les archives, ou si d'autres utilisateurs ont copié ou
              stocké votre Contenu.
            </p>

            <p>
              Vous pouvez demander la suppression de vos données personnelles en nous contactant à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>. Nous supprimerons les informations
              demandées de notre base de données, mais ces informations peuvent rester dans nos journaux de serveur dans
              le cadre de nos procédures habituelles de sauvegarde.
            </p>

            <p>
              Tout recueil irrégulier ou détournement de Contenu ou d'autres informations accessibles sur les Services
              constitue une violation des <a href="/terms-of-service">conditions d'utilisation de Little Genius</a> et
              doit être signalé à l'adresse <a href="mailto:report@littlegenius.io">report@littlegenius.io</a>.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              N'oubliez pas que vous êtes responsable du contenu de votre compte et de tous vos messages. Vous pouvez
              demander la suppression de votre compte en nous contactant à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>, mais Little Genius n'est pas
              responsable de ce que les abonnés sont susceptibles de faire de vos messages envoyés.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Que couvre cette politique de confidentialité ?</h3>

            <p>
              Cette politique de confidentialité explique la façon dont Little Genius recueille et utilise les
              informations venant de vous et des autres utilisateurs ayant accès aux/utilisant les Services. Cela inclut
              le traitement des données personnelles d'identification (ou « données personnelles »). Les mentions de «
              Données personnelles » dans cette politique de confidentialité s'appliquent aux données personnelles des
              utilisateurs individuels des Services. De plus, cette politique de confidentialité couvre le traitement
              par Little Genius de toutes Données personnelles partagées avec nous par nos partenaires ou fournies par
              vous-même à Little Genius à travers un site Web ou service tiers à l'aide de l'application Little Genius.
              Cette politique ne s'applique pas aux sites Web, services ou pratiques d'entreprises que nous ne possédons
              ni ne contrôlons.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              La politique couvre : toutes les informations que vous nous fournissez et que nous recueillons lorsque
              vous utilisez Little Genius. Cette politique ne couvre pas les entreprises tierces que nous ne contrôlons
              pas mais qui nous aident dans la prestation de notre service. Continuez à lire cette page ; plus
              d'informations seront données à ce sujet plus tard.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Comment les données personnelles des enfants sont-elles traitées ?</h3>

            <p>
              Voici quelques informations concernant la loi Children’s Online Privacy and Protection Act (« COPPA »). La
              loi COPPA requiert des fournisseurs de services en ligne l'obtention du consentement parental ou la
              communication d'un avis avant de sciemment recueillir des données personnelles d'enfants âgés de moins de
              13 ans (« utilisateurs mineurs »). Conformément à la loi COPPA, nous pouvons recueillir le nom d'un
              utilisateur mineur (prénom et initiale du nom de famille), sa date de naissance, son adresse e-mail et/ou
              numéro de téléphone afin de lui fournir les Services de Little Genius, et nous pouvons recueillir
              l'adresse e-mail d'un parent (ou tuteur) de l'utilisateur mineur afin d'informer le parent qu'il est
              possible que nous contactions l'utilisateur mineur afin de lui fournir les Services. Si l'adresse e-mail
              du parent n'est pas envoyée à Little Genius dans des délais raisonnables, l'utilisateur mineur ne pourra
              pas recevoir de messages et <strong>ses données personnelles d'identification seront supprimées.</strong>
              Si le compte d'un utilisateur mineur de Little Genius reste inactif pendant au moins douze mois
              (c'est-à-dire si le compte n'a reçu aucun message par le biais des Services pendant cette période), la
              politique de Little Genius est de supprimer les données personnelles d'identification. Si nous apprenons
              que nous avons recueilli les Données personnelles d'un utilisateur mineur en dehors des conditions
              décrites ci-dessus ou qu'un utilisateur mineur nous a fourni des données personnelles qui excèdent nos
              demandes, nous supprimerons ces informations aussi rapidement que possible. Si vous pensez qu'un
              utilisateur mineur nous a fourni des données personnelles en violation avec ce paragraphe, contactez-nous
              à l'adresse <a href="mailto:report@littlegenius.io">report@littlegenius.io</a>.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Little Genius recueille des données personnelles limitées concernant les utilisateurs âgés de moins de 13
              ans et informe un parent ou tuteur lors du recueil de données personnelles d'utilisateurs âgés de moins de
              13 ans. Nous supprimerons les données personnelles si le compte de l'enfant n'est pas associé à l'adresse
              e-mail d'un parent ou tuteur, ou si le compte est resté inactif pendant au moins 12 mois. Si vous avez des
              questions ou des inquiétudes, contactez-nous par e-mail à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Quelles informations sont affichées ou recueillies par Little Genius ?</h3>

            <p>
              Lorsque vous utilisez les Services, vous pouvez paramétrer votre profil personnel, envoyer des messages,
              effectuer des recherches, poser des questions et transmettre des informations via plusieurs canaux, dans
              le cadre des fonctionnalités offertes par les Services. Little Genius ne partagera aucune information de
              contact personnelle entre les Organisateurs et les Abonnés (selon les définitions de ces termes dans les
              <a href="/terms-of-service">conditions d'utilisation de Little Genius</a>) sans la permission des
              utilisateurs. Les informations des utilisateurs que nous recueillons nous permettent de vérifier
              l'identité des utilisateurs et permettent à nos utilisateurs de créer un compte et un profil utilisateur
              via les Services. Cela nous aide à personnaliser et à améliorer nos services. Nous conservons ces
              informations pour vous fournir les Services ainsi qu'aux autres utilisateurs, et pour offrir une
              expérience utilisateur utile. Lorsque vous mettez des informations à jour, nous conservons généralement
              une copie de sauvegarde de la version précédente pendant une durée raisonnable pour vous permettre de
              retourner à la version précédente de ces informations.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Les informations que vous fournissez à Little Genius en créant un compte (ou en rejoignant une classe)
              sont utilisées pour faire fonctionner notre service. Nous utilisons par exemple ces informations pour
              vérifier l'identité des utilisateurs et aider les utilisateurs à créer un compte sur Little Genius. Little
              Genius ne partagera aucune information personnelle de contact, en dehors des noms complets, entre les
              Organisateurs et les Abonnés sans l'autorisation des utilisateurs.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Informations fournies par vous</h3>

            <p>
              Nous recevons et stockons toutes les informations que vous entrez sciemment dans les Services, que ce soit
              par ordinateur, mobile ou autre appareil sans fil, ou que vous nous fournissez de n'importe quelle autre
              matière. Ces informations peuvent comprendre des Données personnelles telles que votre nom, vos numéros de
              téléphone, vos adresses e-mail, vos photos, ainsi que toute autre information nécessaire à la prestation
              de nos services. Dans certains cas, cela inclut votre école, votre club ou l'institution à laquelle vous
              êtes affilié (information pouvant être utilisée pour valider votre compte) afin de vous envoyer des
              notifications de la part de votre professeur, école et/ou académie, club ou équipe (« Notifications ») via
              les Services. En ce qui concerne les utilisateurs mineurs, nous recueillons le nom (prénom et initiale du
              nom de famille), la date de naissance, l'adresse e-mail et/ou le numéro de téléphone ainsi que l'adresse
              e-mail du parent de l'utilisateur mineur afin de lui communiquer des informations sur le service. Vous
              pouvez choisir de ne pas nous fournir certaines informations, mais cela pourrait limiter les
              fonctionnalités auxquels vous aurez accès. Nous utilisons les Données personnelles que nous recevons à
              votre sujet pour vous offrir nos Services mais aussi :
            </p>

            <ul class="list-bulleted block copy">
              <li>pour authentifier votre identité ;</li>
              <li>pour répondre à vos demandes d'information ;</li>
              <li>pour personnaliser les fonctionnalités que vous nous offrons ;</li>
              <li>pour améliorer les opérations internes (résolution des problèmes, tests et analyse de l'utilisation,
                entre autres) ;
              </li>
              <li>pour vous communiquer des informations sur les nouvelles fonctionnalités ;</li>
              <li>et surtout, pour protéger nos utilisateurs et assurer la sécurité de nos Services.</li>
            </ul>

            <p>
              Vous pouvez modifier ou supprimer vos Données personnelles identifiées ci-dessous à tout moment en vous
              connectant à votre compte et en accédant aux fonctions de modification de classes, groupes et/ou
              d'informations de compte.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Les informations que vous fournissez à Little Genius sont également utilisées dans l'analyse de
              l'utilisation et l'amélioration de notre produit. Nous ne montrons ni ne partageons vos données
              personnelles en dehors des rares situations décrites ici. Nous pouvons également vérifier les informations
              de compte afin d'assurer la sécurité de notre communauté.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Informations recueillies automatiquement</h3>

            <p>
              Nous recevons et stockons certains types d'information à chaque fois que vous interagissez avec les
              Services. Little Genius reçoit et enregistre automatiquement des informations sur ses journaux de serveur
              à partir de votre navigateur, comme votre adresse IP, les informations de cookie de Little Genius, votre
              localisation générale, la page demandée et d'autres informations d'utilisation telles que votre activité
              sur les Services, le nombre et la fréquence des visiteurs sur notre site et ses composants (à la manière
              des taux d'audience d'une émission de télévision, qui indiquent le nombre de personnes l'ayant regardée).
              Aucune de ces informations ne constituent des Données personnelles. Certaines informations recueillies
              automatiquement, telles que l'ID de l'appareil et le numéro de téléphone, seront traitées comme des
              Données personnelles.
            </p>

            <p>
              Little Genius peut être amené à utiliser ces données sous forme agrégée, c'est à dire en tant que mesure
              statistique, mais pas de manière à vous identifier personnellement. Ce type de donnees agrégées nous
              permet et nos partenaires dûment autorisés par nos soins de mieux comprendre comment nos utilisateurs
              utilisent collectivement nos services afin de pouvoir les analyser et les améliorer. Nous pouvons partager
              ce type de données statistiques agrégées ne permettant pas une identification personnelle pour que nos
              partenaires sachent également à quelle fréquence les utilisateurs utilisent les services de nos
              partenaires ainsi que les Services.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Lorsque vous utilisez Little Genius, nous recueillons automatiquement certaines informations, telles que
              votre adresse IP et les informations de cookie. Nous les considérons comme des données personnelles et les
              traitons avec beaucoup de prudence.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h4>Application mobile :</h4>

            <p>
              Lorsque les utilisateurs utilisent notre application mobile, nous recueillons automatiquement l'adresse
              IP, l'ID de l'appareil, le type d'appareil, le SE utilisé. Si vous créez un compte via une invitation par
              SMS, nous pouvons vous demander votre numéro de mobile (même si vous vous êtes déjà inscrit aux Services
              d'une autre façon, en passant par votre navigateur, par exemple).
            </p>

            <p>
              Nous recueillons les adresses IP des utilisateurs à chaque fois qu'ils utilisent notre application mobile,
              ce qui nous permet de connaître leur emplacement approximatif et de savoir dans quelle ville ils se
              trouvent pour permettre par exemple à Little Genius de :
            </p>

            <ul class="list-bulleted block copy">
              <li>fournir aux Organisateurs un numéro de téléphone conforme au code de la région,</li>
              <li>prendre en charge des fonctions telles que la sélection d'école, et</li>
              <li>activer d'autres fonctionnalités de mesure interne et des Services.</li>
            </ul>

            <p>
              Nous pouvons également, avec votre autorisation formelle, demander des informations de localisation plus
              spécifiques afin de vous fournir des informations plus pertinentes (telles que les classes ou groupes à
              proximité dans lesquels vous pouvez vous inscrire). Nous ne stockerons ni ne détecterons l'emplacement de
              votre appareil de façon continue ou sans votre permission. Nous pouvons également recueillir des
              informations ayant trait à l'emplacement des utilisateurs dans le cadre de la prestations des Services et
              conformément aux lois et règlementations en vigueur dans la juridiction de l'utilisateur.
            </p>

            <p>
              Little Genius ne recueille ni ne stocke automatiquement les numéros de téléphone des utilisateurs mineurs
              lors de leur première utilisation, à moins que nous ayons averti leurs parents ; toutefois, si l'utilisateur mineur s'est bien inscrit aux Services par SMS et
              a téléchargé l'application mobile des Services, Little Genius posséde le numéro de téléphone de
              l'utilisateur et peut l'utiliser :
            </p>

            <ul class="list-bulleted block copy">
              <li>pour fusionner les comptes de l'utilisateur mineur,</li>
            </ul>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Lorsque vous utilisez l'application Little Genius, nous pouvons recueillir des informations
              supplémentaires, comme l'ID de votre appareil, votre numéro de téléphone et votre emplacement
              approximatif. Cette information reste strictement privée et ne sera jamais partagée avec une tierce partie
              sauf le numéro de téléphone qui pourra être utilisé uniquement dans un objectif d'authentification.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Communication par e-mail et message :</h3>

            <p>
              Si vous nous fournissez votre adresse e-mail ou numéro de téléphone, Little Genius peut vous envoyer des
              messages administratifs (tels que des mises à jour, des notifications, des newsletters et d'autres
              informations) liés aux Services ou répondre à vos communications. En conservant votre compte Little Genius
              et/ou en ne vous désinscrivant pas de l'envoi d'informations de la part de Little Genius, vous
              reconnaissez et acceptez de recevoir des e-mails ou des messages sur votre téléphone ou appareil mobile de
              la part de Little Genius et/ou de ses Agents (selon la définition ci-dessous). La réception de tels
              messages peut entraîner des frais d'utilisation ou d'autres coûts et dépenses selon votre abonnement sans
              fil ou de données. Ces frais, coûts ou dépenses sont entièrement à votre charge. Nous vous conseillons de
              vous renseigner auprès de votre opérateur pour savoir quels frais, coûts et dépenses s'appliquent. Nous
              pouvons recevoir une confirmation lorsque vous ouvrez un e-mail de notre part si votre ordinateur prend en
              charge ce type de programme. Nous envoyons uniquement ce type de communication aux utilisateurs mineurs
              après en avoir informé les parents. Si vous ne souhaitez plus recevoir d'e-mails administratifs de la part
              de Little Genius, vous pouvez vous désinscrire grâce au lien de désincription situé à la fin de chaque
              message ou en nous écrivant à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>. Remarque : même si vous ne souhaitez
              pas recevoir de mentions légales de notre part, comme cette politique de confidentialité, ces mentions
              légales n'en régissent pas moins votre utilisation des Services, et la responsabilité de vérifier ces
              mentions légales pour prendre connaissance de tout changement vous incombe.
            </p>


            <ul class="list-bulleted block copy">

              <li>
                <p>
                  Si vous êtes un utilisateur international, <a
                  href="https://littlegenius.zendesk.com/hc/en-us/articles/1651-How-do-I-opt-out-of-receiving-messages">cliquez
                  ici</a> pour savoir comment vous désabonner des messages.
                </p>
              </li>
            </ul>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Il se peut que nous vous envoyions de temps en temps des messages administratifs à propos de Little
              Genius. Vous pouvez vous désinscrire pour ne plus les recevoir. <a
              href="https://littlegenius.zendesk.com/hc/en-us/articles/1651-How-do-I-opt-out-of-receiving-messages">Cliquez
              ici.</a>
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Notifications Push</h3>

            <p>
              Nous informons les Abonnés de chaque nouvelle publication de l'Organisateur dans un groupe auquel ils
              appartiennent. Si vous ne souhaitez plus recevoir ces communications, vous pouvez les désactiver sur votre
              appareil. Si vous êtes le parent d'un utilisateur mineur, vous avez la possibilité d'empêcher votre enfant
              de recevoir ces communications en nous contactant à l'adresse <a href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>.
              Tout utilisateur peut nous contacter à l'adresse <a href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>
              s'il ne souhaite plus recevoir de communications de la part des Services.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Il existe plusieurs options de notification. Nous pouvons vous envoyer des notifications Push de la part
              des Organisateurs des groupes. Vous pouvez vous désinscrire de ces notifications à tout moment.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Que sont les cookies, les pixels et le stockage local ?</h3>

            <p>
              Les cookies sont de petits fichiers que les sites Web placent sur votre ordinateur lorsque vous visitez
              des pages Web. Comme de nombreux sites Web, Little Genius utilise des cookies pour connaître la façon dont
              les internautes utilisent nos Services et les améliorer.
            </p>

            <p>
              Un pixel est une petite quantité de code sur une page Web ou une notification par e-mail. Comme beaucoup
              de services, nous (ou nos Agents) pouvons utiliser des pixels pour savoir si vous avez interagi avec
              certains contenus web ou e-mail sur nos Services. Cela nous aide à mesurer et améliorer nos Services et à
              personnaliser votre expérience sur Little Genius.
            </p>

            <p>
              Le stockage local est une technologie aux normes de l'industrie qui permet à un site Web ou à une
              application de stocker des informations localement sur votre ordinateur ou appareil mobile. Nous utilisons
              le stockage local pour personnaliser le contenu que nous vous montrons selon vos dernières interactions
              avec Little Genius.
            </p>

            <p>
              Little Genius utilise ces technologies pour fournir, mesurer et améliorer ses Services de différentes
              manières. Ces utilisations font généralement partie des catégories suivantes :
            </p>

            <ul class="list-bulleted block copy">
              <li>
                <h4>Authentification et sécurité :</h4>

                <ul class="list-bulleted block copy">
                  <li>
                    <p>
                      Pour vous connecter à Little Genius.
                    </p>
                  </li>

                  <li>
                    <p>
                      Pour assurer votre sécurité.
                    </p>
                  </li>

                  <li>
                    <p>
                      Pour nous aider à détecter et à lutter contre le spam, les insultes et les autres activités qui
                      violent le règlement de Little Genius.
                    </p>
                  </li>
                </ul>

                <p>
                  Ces technologies permettent par exemple d'authentifier votre accès à Little Genius et d'empêcher des
                  parties non autorisées d'accéder à votre compte. Elles nous permettent également de vous montrer du
                  contenu adapté à travers nos Services.
                </p>
              </li>

              <li>
                <h4>Préférences :</h4>

                <ul class="list-bulleted block copy">
                  <li>Pour se souvenir des informations de votre navigateur et vos préférences.</li>
                </ul>

                <p>
                  Les cookies peuvent par exemple nous aider à nous souvenir de votre langue préférée ou du pays dans
                  lequel vous vous trouvez. Nous pouvons ensuite vous fournir du contenu Little Genius dans votre langue
                  préférée sans qu'il soit nécessaire de vous poser la question à chaque nouvelle visite. Nous pouvons
                  également personnaliser le contenu selon votre pays, en désactivant les SMS par exemple, ou cacher
                  certains contenus en fonction des lois locales applicables.
                </p>
              </li>

              <li>
                <h4>Analyse et recherche :</h4>

                <ul class="list-bulleted block copy">
                  <li>Pour nous aider à améliorer et à comprendre la façon dont nos Services sont utilisés.</li>
                </ul>

                <p>
                  Les cookies nous aident par exemple à tester différentes versions de nos services afin de déterminer
                  les fonctions ou contenus en particulier que nos utilisateurs préfèrent. Nous pouvons également
                  optimiser et améliorer votre expérience sur Little Genius en utilisant des cookies pour voir comment
                  vous interagissez avec nos services, comme par exemple à quel moment et à quelle fréquence vous les
                  utilisez et sur quels liens vous cliquez. Il est possible que nous ayons recours aux outils Google
                  Analytics pour nous aider dans cette tâche.
                </p>
              </li>
            </ul>

            <p>
              La plupart des navigateurs possèdent une option permettant de désactiver les cookies, ce qui empêchera
              votre navigateur d'accepter de nouveaux cookies et, selon les capacités de votre logiciel de navigation,
              vous permettra de décider d'accepter ou non chaque nouveau cookie de nombreuses façons. Toutefois, nous
              vous recommandons fortement de laisser les cookies activés car vous ne pourrez ni vous connecter ni
              utiliser beaucoup de fonctionnalités des Services sans eux. Remarque : l'utilisation de cookies de tierces
              parties n'est pas couverte par notre politique de confidentialité. Nous n'avons pas accès à ces cookies et
              ne les contrôlons pas.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Les cookies sont des fragments d'information qui nous informent que vous avez déjà visité Little Genius et
              aident le navigateur à se souvenir d'informations à votre propos, comme vos préférences de langue. Nos
              cookies ne recueillent aucune donnée personnelle sur vous. Cela s'applique uniquement aux cookies de
              Little Genius et pas aux autres.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Analyse mobile</h3>

            <p>
              Nous utilisons un logiciel d'analyse mobile afin de mieux comprendre la fonctionalité et la performance de
              notre logiciel mobile sur votre téléphone. Ce logiciel peut recueillir, stocker et utiliser des
              informations comme la fréquence de votre utilisation de l'application, les évènements qui surviennent dans
              l'application, l'utilisation, les données de performance, et l'endroit où l'application a été téléchargée.
              Ce logiciel peut partager les informations qu'il recueille avec d'autres tierces parties dans le cadre de
              la prestation des services d'analyse et conformément aux lois applicables. Ces métriques et analyses
              peuvent être utilisées par Little Genius et ses partenaires pour améliorer leur service et, par exemple,
              fournir des fonctionnalites à valeur ajoutée.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              When you use the Little Genius app on your phone or tablet, we have analytics that help us understand how
              you use the app. This helps us improve the features &amp; design!
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Que se passe-t-il lorsque j'associe mon compte à une école ou à une autre institution ?</h3>

            <p>
              Tous les utilisateurs peuvent choisir d'associer leur compte à une école ou à une autre institution. Cela
              peut être exigé (par exemple) de la part des enseignants et exigé ou fortement recommandé de la part des
              autres types d'Organisateurs (selon la définition du terme donnée dans nos <a href="/terms-of-service">conditions
              d'utilisation</a>) afin de pouvoir utiliser certaines fonctionnalités offertes par les Services. Ce
              faisant, vous êtes conscient que votre Contenu peut être visionné par un administrateur, principal,
              technicien spécialisé ou autre partie habilitée par l'école ou l'institution, sous réserve de la
              validation des informations d'identification de ces personnes. En tant qu'Organisateur, vous reconnaissez
              également que Little Genius peut permettre à d'autres personnes associées à la même institution de se
              contacter entre elles - par exemple les enseignants, les étudiants ou les parents qui sont associés à la
              même école ou académie. En associant votre compte à une institution, vous autorisez ces personnes à
              visionner le Contenu déjà présent sur le compte ainsi que les publications et le Contenu à venir. Little
              Genius s'efforcera d'informer les Organisateurs (et/ou les Abonnés concernés) lors de la mise à
              disposition de ce Contenu. De plus, ces personnes peuvent être en mesure d'effectuer des changements
              administratifs sur votre compte, tel que, mais sans s'y limiter, l'ajout et la suppression d'abonnés,
              l'envoi de messages en votre nom, etc. Ils ne seront pas en mesure de supprimer du Contenu déjà publié.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Si vous êtes un éducateur employé par une école ou associé à une institution, nous vous encourageons à
              vous lier à votre école/institution. Cela permet de vérifier votre identité et de déverrouiller certaines
              fonctionnalités du produit.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Est-ce que Little Genius partage les données personnelles reçues ?</h3>

            <p>
              Little Genius compte sur ses utilisateurs pour renseigner des Données personnelles correctes afin de
              fournir ses Services. Nous faisons de notre mieux pour protéger ces informations et pour traiter,
              divulguer et conserver vos données de manière responsable. Nous ne louons ni ne vendons vos Données
              personnelles à qui que ce soit (mais n'oubliez pas que d'autres utilisateurs Little Genius ou parties
              tierces ont accès à vos Données personnelles et peuvent utiliser et partager vos informations d'une
              manière que Little Genius ne peut pas contrôler, et ne contrôle pas). Toutefois, nous partageons vos
              Données personnelles sous forme de données d'identification personnelles comme décrit ci-après.
            </p>

            <h4>Agents et Prestataires de services</h4>

            <p>
              La publicité est interdite sur les services. Toutefois, nous employons d'autres entreprises et personnes
              pour effectuer des tâches pour notre compte et nous pouvons avoir besoin de partager vos informations avec
              eux (et qu'ils utilisent ces informations) afin de vous fournir certains aspects de nos Services. Voici
              quelques exemples de services pouvant nécessiter la participation d'agents : l'envoi d'e-mails ou de SMS,
              l'analyse des données et la prestation de services aux utilisateurs. Ces agents peuvent utiliser les
              données personnelles que nous partageons avec eux, par exemple pour nous assister, pour fournir les
              services vous étant et/ou nous étant destinés et pour mesurer et améliorer la performance de leurs
              services. Cliquez <a
              href="https://littlegenius.zendesk.com/hc/en-us/articles/1652-How-is-my-information-used-in-order-for-LittleGenius-to-operate-the-service"
              target="_blank">ici</a> pour plus d'informations sur l'identité des agents indispensables auxquels nous
              faisons appel dans le cadre des Services (y compris toutes les conditions ou politiques spécifiques
              s'appliquant à eux et pouvant régir l'utilisation de vos informations). Vous consentez par la présente à
              ce que nous partagions des informations vous concernant (qui peuvent inclure des données personnelles) à
              ces fins.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Little Genius ne loue ni ne vend vos données personnelles. Nous pouvons partager vos informations pour
              fournir certaines parties du service de Little Genius, uniquement dans le cadre défini par cette
              politique. Si vous avez des questions, contactez nous à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <p>
              <i>Transferts d'entreprise :</i> Si Little Genius ou une grande partie de ses biens venaient à être
              achetés, les informations des utilisateurs feraient partie des biens transférés ou achetés par une tierce
              partie. Vous reconnaissez que ce genre de transfert peut se produire et que tout acquéreur de Little
              Genius peut continuer à utiliser vos Données personnelles comme indiqué dans cette politique. Vous serez
              informé par e-mail et/ou par un avertissement bien visible sur les Services de tout changement de
              propriétaire ou d'utilisation de vos données personnelles. Dans l'éventualité peu probable où Little
              Genius ferait faillite, nous protégerons vos informations et les supprimerons.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Si notre entreprise est rachetée par une autre entreprise, nous pourrions avoir besoin de leur fournir vos
              informations. Si cela devait arriver, nous vous en informerions sans faute.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <p>
              <i>Protection de Little Genius et des autres :</i> Nous pouvons divulguer vos Données personnelles quand
              nous estimons de bonne foi que cette divulgation est nécessaire pour :
            </p>

            <ul class="list-bulleted block copy">
              <li>se conformer à la loi, par exemple en cas d'assignation à comparaître ou autre processus juridique ;
              </li>

              <li>
                appliquer nos <a href="/terms-of-service">conditions d'utilisation</a> et autres accords ; ou
              </li>

              <li>protéger les droits, la propriété ou la sécurité de Little Genius, nos employés, nos utilisateurs ou
                autres. Ceci inclut, sans limitation, l'échange d'informations avec d'autres entreprises et institutions
                à des fins de protection contre la fraude ou afin de répondre aux demandes du gouvernement.
              </li>
            </ul>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Nous pouvons divulguer vos données personnelles si nécessaires afin de protéger notre communauté (pour
              nous conformer à des demandes juridiques, par exemple).
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <p>
              <i>Avec votre accord :</i> À l'exception des cas définis ici ou lorsque Little Genius estime que c'est
              nécessaire, afin de se conformer à la loi ou aux processus juridiques, vous serez averti lorsque vos
              Données personnelles peuvent être partagées avec des tierces parties, et nous vous donnerons la
              possibilité d'empêcher le partage de ces informations à moins qu'il soit exigé par la loi ou les processus
              juridiques.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Si pour une raison ou une autre, nous avons besoin de partager vos données personnelles (avec d'autres
              personnes que nos services tiers ou pour des raisons autres que légales), nous vous demanderons d'abord
              votre accord.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Les informations me concernant sont-elles en sécurité ?</h3>

            <p>
              Si vous avez créé un compte Little Genius, les Données personnelles de votre compte sont protégées par mot
              de passe pour préserver votre vie privée et assurer votre sécurité. Vous pouvez nous aider à vous prémunir
              contre les accès non autorisés à votre compte et à vos Données personnelles en sélectionnant et en
              protégeant votre mot de passe de façon adaptée et en limitant l'accès à votre ordinateur et navigateur en
              vous déconnectant quand vous avez fini d'utiliser votre compte.
            </p>

            <p>
              Little Genius s'efforce de protéger les informations des utilisateurs pour assurer que les informations de
              compte des utilisateurs restent privées. Toutefois, nous ne pouvons garantir la sécurité des informations
              de compte des utilisateurs. L'entrée ou l'utilisation non autorisée, les défaillances de matériel ou de
              logiciel et d'autres facteurs peuvent mettre en danger la sécurité des informations des utilisateurs à
              tout moment. Pour en savoir plus sur les mesures de sécurité que nous déployons en lien avec les Services,
              contactez nous à l'adresse <a href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>.
            </p>

            <p>
              Lorsque vous entrez des informations dans la zone de connexion de notre site, nous chiffrons la
              transmission de ces informations à l'aide du protocole Secure Sockets Layer (SSL).
            </p>

            <p>
              Les Services contiennent des liens vers d'autres sites ou services. Little Genius n'est pas responsable
              des politiques de confidentialité et/ou des pratiques des autres sites. Lorsqu'un utilisateur est redirigé
              vers un autre site, il devrait lire les politiques de confidentialité décrites sur ce site. Cette
              politique de confidentialité ne régit que les informations recueillies sur les Services.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              La sécurité de vos données personnelles nous tient extrêmement à cœur et nous prenons des mesures internes
              pour garantir leur sécurité.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Réseaux sociaux (fonctions) et Widgets</h3>

            <p>
              Nos Services peuvent inclure des fonctions de réseaux sociaux, comme le bouton "J'aime" de Facebook et des
              widgets tels que le bouton "Partager" ou les mini programmes interactifs sur notre site. Ces fonctions
              peuvent recueillir votre adresse IP ainsi que les pages que vous visitez sur notre site et définir un
              cookie pour permettre la bonne exécution des fonctions. Les fonctions de réseaux sociaux et les widgets ne
              sont ni hébergés par une tierce partie, ni directement hébergés sur nos Services. Vos interactions avec
              ces fonctions sont régies par la politique de confidentialité de l'entreprise qui les fournit.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>A quelles informations puis-je avoir accès et lesquelles puis-je modifier ?</h3>

            <p>
              En tant que titulaire d'un compte Little Genius, vous pouvez voir et mettre à jour les informations
              suivantes à votre discrétion :
            </p>

            <ul class="list-bulleted block copy">
              <li>les informations de votre compte d'utilisateur (comme votre adresse e-mail),</li>
              <li>votre nom d'abonné,</li>
              <li>vos préférences utilisateur,</li>
              <li>votre affiliation à une institution (ou école), et</li>
              <li>le contenu de votre compte (remarque : une fois publiés, vous ne serez pas forcément en mesure de
                modifier ou de supprimer certains types de contenus, comme les messages)
              </li>
            </ul>

            <p>
              Cette liste peut changer selon les changements des Services.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Vous pouvez accéder à et modifier certaines informations entrées dans votre compte Little Genius.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Comment puis-je supprimer mon compte ?</h3>

            <p>
              Comme annoncé plus haut, vous avez toujours la possibilité de ne pas divulguer vos informations, même si
              cela peut être nécessaire afin de pouvoir profiter de certaines fonctions de Little Genius.
            </p>

            <p>
              Vous pouvez ajouter ou mettre à jour certaines informations sur certaines pages, répertoriées dans la
              section "À quelles informations puis-je avoir accès ?" ci-dessus. Toutefois, lorsque vous mettez à jour
              les informations, nous gardons souvent une copie des informations non modifiées dans nos sauvegardes.
              Certains types de communications envoyées aux autres utilisateurs ne peuvent être supprimés, comme les
              messages.
            </p>

            <p>
              Vous pouvez demander la suppression de votre compte Little Genius en envoyant un e-mail à <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>. Remarque : certaines informations
              peuvent rester dans nos sauvegardes, journaux de serveur et archives après la suppression de votre compte.
              Little Genius conserve ces informations afin d'effectuer des diagnostics de problèmes de service et pour
              auditer les enquêtes juridiques, mais se réserve le droit de supprimer ces informations conformément aux
              pratiques commerciales standards en vigueur de temps en temps. De plus, les informations et autre contenu
              que vous avez fournis peuvent rester visible ailleurs si le contenu en question a été copié ou stocké par
              d'autres utilisateurs.
            </p>

            <p>
              En ce qui concerne les utilisateurs mineurs ayant un compte inactif depuis douze mois ou plus
              (c'est-à-dire que le compte n'a reçu aucun message par les Services au cours de cette période), la
              politique de Little Genius est de supprimer les Données personnelles associées à ce compte.
            </p>

            <p>
              Si vos données personnelles ou celles de votre enfant changent, ou si vous ne souhaitez plus profiter de
              notre Service ni que Little Genius contacte votre enfant, vous pouvez réviser, corriger, mettre à jour et
              supprimer les informations incorrectes, demander la suppression des informations de votre enfant ou les
              modifier en nous contactant à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a> ou en vous connectant à votre compte.
              Nous répondrons à votre demande dans les plus brefs délais.
            </p>

            <p>
              Nous conserverons vos informations ou celles de votre enfant tant que votre compte sera actif ou de façon
              à vous fournir les Services. Si vous souhaitez supprimer votre compte ou celui de votre enfant, ou que vos
              informations ne soient plus utilisées pour vous fournir les Services, contactez-nous à
              contact@littlegenius.io. Remarque : nous conserverons et utiliserons les informations, par exemple pour
              nous conformer à nos obligations d'audit et juridiques, pour résoudre les litiges et appliquer nos
              accords.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              En tant qu'Organisateur ou enseignant, vous pouvez supprimer votre compte à tout moment en vous connectant
              à votre compte. Si vous êtes Abonné (étudiant ou parent, par exemple), écrivez à l'adresse <a
              href="mailto:contact@littlegenius.io">contact@littlegenius.io</a> pour supprimer votre compte. Une fois
              votre compte supprimé, nous conserverons une copie de votre historique de messagerie et d'autres
              informations de compte pour votre commodité et votre sécurité. Certains comptes sont entièrement supprimés
              après 12 mois d'inactivité.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Modifications de cette politique de confidentialité</h3>

            <p>
              Nous pouvons mettre à jour cette déclaration de confidentialité pour qu'elle prenne en compte les
              changements dans nos pratiques concernant vos informations. Vous serez informé de tout changement
              important par e-mail (à l'adresse e-mail indiquée dans votre compte) ou par un avis sur les Services avant
              que le changement ne prenne effet. Nous vous encourageons à vérifier cette page régulièrement pour prendre
              connaissance des informations les plus récentes sur nos pratiques de confidentialité.
            </p>

            <p>
              Si nous effectuons des changements importants concernant les types de Données personnelles que nous
              recueillons ou la façon dont nous utilisons les Données personnelles des utilisateurs mineurs, nous
              informerons les parents par e-mail afin d'obtenir un accord parental vérifiable pour cette nouvelle
              utilisation des Données personnelles des enfants.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Nous vous informerons de toute mise à jour de cette politique de confidentialité.
            </p>
          </section>

          <hr>

          <section class="column-2-3 column-desktop-1">
            <h3>Des questions ou des inquiétudes ?</h3>

            <p>
              Si vous avez des questions ou des inquiétudes concernant la vie privée sur Little Genius ou <a href="/">littlegenius.io,</a>
              envoyez-nous un message détaillé à l'adresse <a href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>.
              Nous nous efforcerons d'apaiser vos inquiétudes.
            </p>
          </section>

          <section class="column---1-3 column-desktop-1">
            <h5>En clair</h5>

            <p>
              Nous vous encourageons à nous contacter à l'adresse <a href="mailto:contact@littlegenius.io">contact@littlegenius.io</a>
              pour nous faire part de toute question ou inquiétude concernant la façon dont nous utilisons vos
              informations.
            </p>
          </section>

          <hr>
        </div>


      </div>
    </div>
  </div>
</main>
</template>