/*****************************************************************************/
/* PreMainLayout: Style */
/*****************************************************************************/
.pre-main_layout {
}



.background{
  background-image: url("img/text.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

i.flag.gb:before, i.flag.united.kingdom:before {
  background-position: -36px -26px;
}
