<template name='MobileSchoolOverview'>
   <style>
       .bar.bar-stable{
           background-color: #0c2649;
       }
       
       .bar-stable .button.button-clear{
           color:white;
       }
   </style>
   
  {{#contentFor "headerButtonLeft"}}
    <!--Newsgroups news-->
    <a href="{{ pathFor 'newsgroups.news.list' }}" class="button button-clear button-entering button-active">
      <i class="icon ion-navicon"></i>
    </a>    
  {{/contentFor}}
     
  {{#ionView}}
    {{#ionContent}}

      <div class='school-logo-wrapper'>
        <div class='school-logo-background'>
           
        </div>          
        <div class='school-logo'>
            <img src='/img/carmel.png'/>
        </div>
                        
      </div>
      <div class='news-slidebox-wrapper'>
        {{#ionSlideBox autoPlay=true showPager=false}}
            {{#ionSlide}}
            <h3>Basketball Competition</h3>
            <div class='slide-box-bg bg-1'></div>
            {{/ionSlide}}
            {{#ionSlide}}
            <h3>New Volunteering Work</h3>
            <div class='slide-box-bg bg-2'></div>
            {{/ionSlide}}
            {{#ionSlide}}
            <h3>Oversea exchange 2016</h3>
            <div class='slide-box-bg bg-3'></div>
            {{/ionSlide}}
        {{/ionSlideBox}}
      </div>
        {{#ionScroll direction="x" zooming=true locking=false style="width:100%;height:200px;overflow:hidden;" }}
            <div style="width: 950px; height: 5000px;">
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                       <div class='one-line'><i class='icon ion-ios-paper-outline'></i>
                       <span class='counter'>5</span>
                       </div>
                       
                      
                       <span class='sqaure-card-description'>NEWS</span> 
                       
                    </div>
                </div>
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                         <div class='one-line'><i class='icon ion-ios-book-outline'></i>
                          <span class='counter'>5</span>
                         </div>
                         
                         
                         <span class='sqaure-card-description'>CLASSES</span> 
                    </div>
                </div>
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                         <div class='one-line'><i class='icon ion-clock'></i>
                          <span class='counter'>5</span>
                         </div>
                        
                         
                         <span class='sqaure-card-description'>ABSENCE</span> 
                    </div>
                </div>
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                         <div class='one-line'><i class='icon ion-android-calendar'></i>
                          <span class='counter'>5</span>
                         </div>
                         
                        
                         <span class='sqaure-card-description'>CALENDAR</span> 
                    </div>
                </div>
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                         <div class='one-line'><i class='icon ion-android-contacts'></i>
                          <span class='counter'>5</span>
                         </div>
                         
                        
                         <span class='sqaure-card-description'>CONTACT</span> 
                    </div>
                </div>
                <div class="card inline-card square-card-small">
                    <div class="item item-text-wrap">
                         <i class='icon ion-more'></i> 
                         <br/>
                         <span class='sqaure-card-description'>MORE</span> 
                    </div>
                </div>                
            </div>
        {{/ionScroll}} 
           
    {{/ionContent}}
  {{/ionView}}    


</template>