<template name="NotificationDetail">
  {{#contentFor "headerTitle"}}
    <!--TODO remove hardcode NotificationDetail-->
    <h1 class="title">Notification detail</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <div style="position: absolute; right: 0;">

      <a href="" class="button button-clear button-entering button-active "><i
        class="icon ion-ios-upload-outline"></i></a>
    </div>

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item">

        </div>
        <div class="item">
          <!--TODO remove hardcode NotificationDetail-->
          Send to:
        </div>
        <div class="item">
          {{classObj.className}}
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}


</template>
