<template name="ClassInvitation">

    <!-- {{#contentFor "headerTitle"}}
      <h1 class="title">{{classObj}}</h1>
    {{/contentFor}} -->

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton text=""}}
    {{/contentFor}}



    {{#contentFor "headerButtonRight"}}
      <!-- <button  class="button button-clear button-entering button-active addClassBtn">?</button> -->
    {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}





    <div class="row row-center" style="height:60vh">
        <div class="col" style="text-align:center">
          {{_ "WhatMethodYouWouldLikeToAddThem"}}
        </div>
    </div>
    <ul class="list">
      <li class="item">In-class</li>
      <a href="{{pathFor 'ShareInvite' classCode=getclassCode }}"><li class="item">{{_ "ShareALink" }}</li></a>
      <a href="{{pathFor 'EmailInvite' classCode=getclassCode }}"><li class="item">{{_ "send"}}</li></a>
    </ul>



    {{/ionContent}}
    {{/ionView}}
</template>
