<template name="ChatInvite">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Chat</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Cancel"}}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
  <div style="position: absolute; right: 0;">
    <!-- <button  class="button button-clear button-entering button-active sendMsgBtn">Send</button> -->
    <!-- <button  class="button button-clear button-entering button-active msgDoneClassBtn {{doneClassBtnStatus}}">Done</button> -->

  </div>
  {{/contentFor}}



{{#ionView}}
{{#ionContent}}

<div class="list">
  <label class="item item-input">
    To :
    &nbsp;

    <!-- <select class="js-example-basic-multiple" multiple="multiple">

    </select> -->
    <input type="text" data-bind="text: chatArr">


  </label>



  {{#each classesJoinedOwner}}
    {{> checkbox}}
  {{/each}}



</div>



<div class="bar bar-footer bar-balanced startChatBtn">
  <div class="">Next</div>
</div>

<!-- <a href="{{pathFor 'ChatRoom' }}" class="button"></a> -->

  {{/ionContent}}
{{/ionView}}

</template>

<template name="checkbox">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" value="asds" data-bind="checked: chatArr">
     </label>
     {{profile.firstname}} {{profile.lastname}}
  </li>
</template>
