<template name="EmailForgetPwd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path='Login' text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"ForgetPassword"}}Forget Password</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
   <!-- <button class="button button-clear button-entering button-active loginBtn">{{_ "Login"}}</button>-->
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}


      <div class="forget-password-form">
        <div class="list ">
          <label class="item item-input">
            <input id='email' type="email" value='{{email}}' placeholder="{{_"Email"}}">
          </label>
        </div>
        <button class="button button-full button-positive reset-password-btn">
        Send Reset Password Email
        </button>        
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
