<template name="Chatoption">

  {{#contentFor "headerButtonLeft"}}
  
     {{>ionNavBackButton href='TabChat' class="ChatoptionCancel" }} 
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{_ "Chat_settings"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
   <button  class="button button-clear button-entering button-active ChatoptionSave">Save</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="list">
        <div class="item item-divider"> {{_ "OfficeHoursExplanation"}} </div>
        {{#autoForm schema=chatSetting resetOnSuccess="false" doc=optionObj id="chatOptionUpdate" type="method" meteormethod="chat/setting/update"}}

          <div class="item item-toggle">
            {{_ "OfficeHours"}}

            <label class="toggle">
              {{> afFieldInput id="checkworkhour" name="workHour" checked=workhourcheck }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <a class="workHourTimeCol item  {{ishidden}}" >
            {{_ "TimeDays"}}
            <span class="item-note">
              <div>{{getTimeRange}}</div>
              <div>{{getWeeks}}</div>
            </span>
          </a>

          <li class="item item-input {{ishidden}}">
          
          {{> afQuickField  style='width:120px;' class='datepicker' type='time' name='workHourTime.from'}}           
          
            
           {{> afQuickField style='width:120px;' class='datepicker'  type='time' name='workHourTime.to'}}             
          
          </li>

          <div class="{{ishidden}}">
            <div class="item item-divider">  </div>

            <li class="item item-toggle">
              {{_ "Monday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput  type="boolean-checkbox2"  name="workHourTime.weeks.0"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

            <li class="item item-toggle">
              {{_ "Tuesday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput  type="boolean-checkbox2"  name="workHourTime.weeks.1"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
            <li class="item item-toggle">
              {{_ "Wednesday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput type="boolean-checkbox2"  name="workHourTime.weeks.2"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
            <li class="item item-toggle">
              {{_ "Thursday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput defaultValue="true" type="boolean-checkbox2"  name="workHourTime.weeks.3"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
            <li class="item item-toggle">
              {{_ "Friday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput  type="boolean-checkbox2"  name="workHourTime.weeks.4"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

            <li class="item item-toggle">
              {{_ "Saturday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput type="boolean-checkbox2"  name="workHourTime.weeks.5"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
            <li class="item item-toggle">
              {{_ "Sunday" }}
              <label class="toggle toggle-positive">
               {{> afFieldInput type="boolean-checkbox2"  name="workHourTime.weeks.6"}}

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>                        
          </div>

       
        {{/autoForm}}

      </div>

    {{/ionContent}}
  {{/ionView}}

</template>
