/*****************************************************************************/
/* TabClasses: Style */
/*****************************************************************************/
.tab-classes {
  height: 100%;
  .listview-container{
    height:50%;
    .add-join-bar{
      height: 50px;
      background-color: #FAFAF9;

    }
    .listview-nth{
      text-align: center;
      height: 70%;
    }
  }
}
