/*****************************************************************************/
/* TabClasses: Style */
/*****************************************************************************/
.tab-classes {
  height: 100%;
  .listview-container{
    height:50%;
    .listview{
      height: 80%;
      overflow-y: auto;
      .listview-item{
        padding: 1rem;
        border: 1px solid #EEE;
      }
    }
    .add-join-bar{
      height: 20%;
      background-color: #FAFAF9;

    }
    .listview-nth{
      text-align: center;
      height: 70%;
    }
  }
}
