<template name="TabClasses">

  {{#contentFor "headerButtonLeft"}}
   <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
      
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "Classes"}}</h1>
  {{/contentFor}}


  {{#contentFor "headerButtonRight"}}
    <!--Newsgroups news-->
   <!-- <a href="{{ pathFor 'newsgroups.news.list' }}" class="button button-clear button-entering button-active">
      <i class="icon ion-android-notifications-none"></i>
    </a> -->   
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="tab-classes">

        {{#if canCreateClass}}

          <div class="listview-container createdClass">

            <a href="{{pathFor 'AddClass' school=getCurrentSchoolName  }}">
              <div class="row row-center add-join-bar">
                <div class="col col-90">{{_ "ClassesIOwn"}}</div>
                <div class="col ">
                  <i class="icon ion-android-add-circle larger"></i>
                </div>
              </div>
            </a>

            <div class="listview">

              {{#if notCreateEmptyList}}

                <ul class="list">
                  {{#each createdClass}}
                    <a href={{ pathFor 'ClassPanel'   }}>
                      <div class="item item-icon-left" style="padding-top: 7px; padding-bottom: 7px">
                        {{{newCommentCounter this._id}}} 
                          
                        <i class="icon {{classAvatarIcon}} e1a-1x emojicon"></i>
                        {{this.className}}
                        <br/><span class='class-code'>@{{this.classCode}}</span>
                        <br/><div class='description'>{{lasttextTime this.lastUpdatedAt}}</div>
                      </div>
                    </a>
                  {{/each}}
                </ul>

              {{else}}

                <div class="row row-center listview-nth">
                  <div class="col">
                    <a class="button button-stable long-button"
                       href="{{pathFor 'AddClass' school=getCurrentSchoolName  }}"> {{_ "CreateAClass"}} </a>
                  </div>
                </div>

              {{/if}}

            </div>
          </div>

        {{/if}}


        <div class="listview-container joinedClass">
          <a href="{{pathFor 'JoinClass' school=getCurrentSchoolName  }}">
            <div class="row row-center add-join-bar">
              <div class="col col-90">{{_ "ClassesIveJoined"}}</div>
              <div class="col ">

                <i class="icon ion-android-add-circle larger"></i>

              </div>
            </div>
          </a>

          {{#if notJoinedEmptyList}}

            <div>
              <ul class="list">
                {{#each joinedClass}}
                  <a href={{ pathFor 'classDetail'   }}>
                    <div class="item item-icon-left" style="padding-top: 7px; padding-bottom: 7px">
                      {{{newMessageCounter this._id}}}
                      
                      <i class="icon {{classAvatarIcon}} e1a-1x emojicon"></i>
                      {{this.className}}
                      <br/><span class='class-code'>@{{this.classCode}}</span>
                      <br/><div class='description'>{{lasttextTime this.lastUpdatedAt}}</div>
                    </div>
                  </a>
                {{/each}}
              </ul>
            </div>

          {{else}}

            <div class="row row-center listview-nth">
              <div class="col">
                <a class="button button-stable long-button" href="{{pathFor 'JoinClass'  school=getCurrentSchoolName  }}">{{_ "JoinAClass"}}</a>
              </div>
            </div>
          {{/if}}

        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
