<template name="TabClasses">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Classes</h1>
  {{/contentFor}}


    {{#contentFor "headerButtonRight"}}
      <a href="{{ pathFor 'SendMessage' }}"  class="button button-clear button-entering button-active">
        <i class="icon ion-compose"></i>
      </a>
    {{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <div class="tab-classes">
      <div class="listview-container">
        <div class="row row-center add-join-bar">
            <div class="col col-90">CLASSES I OWN </div>
            <div class="col ">
              <a href="{{pathFor 'AddClass'  }}">
                <i class="icon ion-plus-circled"></i>
              </a>
            </div>
        </div>

        <div class="listview">



          {{#if notCreateEmptyList}}

          <ul class="list">
            {{#each createdClass}}
              <a href={{ pathFor 'classDetail'   }} >
                <li class="item">
                  {{this.className}}@{{this.classCode}}
                </li>
              </a>
            {{/each}}
          </ul>

          {{else}}


          <div class="row row-center listview-nth">
              <div class="col">
                <a class="button button-calm" href="{{pathFor 'AddClass'  }}">Create a class </a>
              </div>
          </div>

          {{/if}}


        </div>



      </div>
      <div class="listview-container">
        <div class="row row-center add-join-bar">
          <div class="col col-90">CLASSES I'VE JOINED</div>
            <div class="col ">
              <a href="{{pathFor 'JoinClass'  }}">
                <i class="icon ion-plus-circled"></i>
              </a>
            </div>
        </div>

        {{#if notJoinedEmptyList}}

        <div>
          <ul class="list">
            {{#each joinedClass}}
              <a href={{ pathFor 'classDetail'   }} >
                <li class="item">
                  {{this.className}}@{{this.classCode}}
                </li>
              </a>
            {{/each}}
          </ul>
        </div>

        {{else}}


        <div class="row row-center listview-nth">
            <div class="col">
              <a class="button button-calm" href="{{pathFor 'JoinClass'  }}">Join a Class</a>
            </div>
        </div>

        {{/if}}


      </div>
    </div>
  {{/ionContent}}
  {{/ionView}}
</template>
