/*****************************************************************************/
/* TabClasses: Style */
/*****************************************************************************/
.tab-classes {
  height: 100%;
  .listview-container{
    height:50%;
    .add-join-bar{
      height: 30%;
    }
    .listview-nth{
      height: 70%;
    }
  }
}
