<template name="TabClasses">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Classes</h1>
  {{/contentFor}}

  {{#ionContent}}
    <div class="tab-classes">
      <div class="listview-container">
        <div class="row row-center add-join-bar">
            <div class="col col-90">CLASSES I OWN </div>
            <div class="col "><i class="fa fa-plus-circle"></i></div>
        </div>

        <div class="listview">
          <ul>
            {{#each createdClass}}
              <li class="listview-item"><a href={{ pathFor 'classDetail' classCode=this.classCode  }} >{{this.className}}@{{this.classCode}}</a></li>
            {{/each}}
          </ul>


          <div class="row row-center listview-nth">
              <div class="col">
                <a class="button button-calm" href="{{pathFor 'AddClass'  }}">Create a class </a>
              </div>
          </div>
        </div>



      </div>
      <div class="listview-container">
        <div class="row row-center add-join-bar">
          <div class="col col-90">CLASSES I'VE JOINED</div>
            <div class="col "><i class="fa fa-plus-circle"></i></div>
        </div>

        <div>
          <ul>
            {{#each joinedClass}}
              <li>@{{this.classCode}}</li>
            {{/each}}
          </ul>
        </div>


        <div class="row row-center listview-nth">
            <div class="col">
              <a class="button button-calm" href="{{pathFor 'JoinClass'  }}">Join a Class</a>
            </div>
        </div>
      </div>
    </div>
  {{/ionContent}}
</template>
