<template name="ClassIconChoose">
  {{#ionModal title=""}}

  <div class="padding" style="background-color:white;">
    <div class="row">
      <div class="col"><a data-dismiss="modal"><i title='cat' class="icon e1a-cat e1a-5x emojicon"></i></a></div>
      <div class="col"><a data-dismiss="modal"><i title='smiley_cat' class="icon e1a-smiley_cat e1a-5x emojicon"></i></a></div>
      <div class="col"><i class="icon e1a-dog e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-tiger e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-ghost e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-frog e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-crocodile e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-hamster e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-panda_face e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-horse e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-camel e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-whale e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-octopus e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-blowfish e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-tropical_fish e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-speak_no_evil e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-beetle e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-dove e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-feet e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-space_invader e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-ok_hand e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-sunglasses e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-eyes e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-star2 e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-star e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-sunny e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-sun_with_face e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-sunflower e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-palm_tree e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-hearts e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-earth_africa e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-earth_americas e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-earth_asia e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-flag_in e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-flag_us e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-flag_kr e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-flag_fr e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-flag_gb e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-capital_abcd e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-blue_book e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-books e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-pen_fountain e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-pencil2 e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-paintbrush e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-paperclip e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-microscope e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-triangular_ruler e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-satellite_orbital e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-airplane e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-rocket e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-computer e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-bulb e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-soccer e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-basketball e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-race_car e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-notes e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-checkered_flag e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-green_apple e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-cherries e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-hot_pepper e1a-5x emojicon"></i></div>
    </div>
    <div class="row">
      <div class="col"><i class="icon e1a-lemon e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-apple e1a-5x emojicon"></i></div>
      <div class="col"><i class="icon e1a-sushi e1a-5x emojicon"></i></div>
      <div class="col"></div>
    </div>

  </div>

  
  {{/ionModal}}
</template>