/*****************************************************************************/
/* Lang: Style */
/*****************************************************************************/
.lang {
}

.langBtnSet {
  position: absolute;
  bottom: 20vh;
  width: 100vw;
}
