<template name="ClassPanel">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{classObj.className}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}

    <div style="position: absolute; right: 0;">

      <a href="{{pathFor 'classEdit' classCode=classObj.classCode  }}"
         class="button button-clear button-entering button-active "><i class="icon ion-ios-information-outline"></i></a>

    </div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

        <div class="button-bar">
          <a class="button button-bar-button" href="{{ pathFor 'ClassUsers' classCode=classObj.classCode }}"> <i class="icon ion-ios-people"></i>
            <div>{{ classObj.joinedUserId.length }} {{_ "users"}}</div>
          </a>
          <a class="button button-bar-button" href="{{pathFor 'ClassInvitation' classCode=classObj.classCode  }}"> <i class="icon ion-person-add"></i>
            <div>{{_ "AddMembers"}}</div>
          </a>
        </div>

        <div class="list messageList" style='background-image: url("/img/wallpaper.jpg");background-size:cover;margin-bottom:0px;' id="messageList">
          {{#each classObj.messagesObj}}
  
            <div class="item card less-padding less-top-bottom-margin">
             <!-- <div class="item ">
                <div class="row" style="padding:0">
                  <div class="col" style="padding:0"><h2>{{className}}</h2></div>
                  <div class="col" style="padding:0;text-align:right">{{createdAt}}</div>
                </div>
              </div>-->
              <div class="item less-padding">
                <div>
                  <!--<div>{{teacherName}}:</div>>-->                 
                  <div>{{content}}</div>
                  <div>
                    {{#if havePic}}
                      {{#each imageArr}}
                        {{#with getImage}}
                          {{#if this.isUploaded}}
                            {{#if this.hasStored 'images'}}
                              <div class="">
                                <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}">
                                <!-- <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a> -->
                              </div>
                            {{/if}}
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    {{/if}}
                  </div>
                  <div>
                    {{#if haveSound}}
                      {{#each soundArr}}
                        {{#with getSound}}
                          {{#if this.isUploaded}}
                            {{#if this.hasStored 'sounds'}}
                              <div class="bubble">
                                <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}"></a>
                                <!-- <a class="button button-icon icon ion-close-circled voice" data-clipid="{{_id}}"></a> -->
                              </div>
                            {{/if}}
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    {{/if}}
                  </div>
                </div>
                <br>
                <p>
                  {{#if isNotEmpty star}}
                    <a href="#" class="subdued">{{star.length}} <i class="ion-ios-star"></i></a>
                  {{/if}}
                  {{#if isNotEmpty checked}}
                    <a href="#" class="subdued">{{checked.length}} <i class="ion-checkmark-round"></i></a>
                  {{/if}}
                  {{#if isNotEmpty close}}
                    <a href="#" class="subdued">{{close.length}} <i class="ion-close-round"></i></a>
                  {{/if}}
                  {{#if isNotEmpty help}}
                    <a href="#" class="subdued">{{help.length}} <i class="ion-help"></i></a>
                  {{/if}}
                </p>
                <span class='timestamp'>{{formatTime sendAt}}</span>   
              </div>
            </div>
            <!-- </a> -->
          {{/each}}
        </div>

        {{> SendMessage callFromClassPanel=true }}
     
      
      
      
    {{/ionContent}}
  {{/ionView}}
</template>