/*****************************************************************************/
/* ClassPanel: Style */
/*****************************************************************************/
.messageList {
	
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 137px);
  bottom: 0;
  
}


