/*****************************************************************************/
/* ClassPanel: Style */
/*****************************************************************************/
.messageList {
	
  overflow-x: hidden;
  overflow-y: auto;
  /*height: calc(100% - 113px);*/
  height: calc(100% - 43px);
  bottom: 0;
  
}

.messageList .content a{
  	color:#148FE9 !important; 
}

.button-bar-button{
  
  padding-bottom:2% !important;
  line-height:80% !important;
}

.smaller {
  font-size: smaller;
}

