<template name="ClassPanel">
  {{#contentFor "headerTitle"}}
    <!-- new code to display classCode in small
    <div>
      <h1 class="title"
        style="top: -.5rem !important;overflow: visible !important;">
        {{classObj.className}}</h1>
      <br>
      <div class="title"
           style="font-size:smaller;position: absolute;left: 0;  right: 0;  top: 0.5rem;opacity:0.7">
        @{{classObj.classCode}}</div>
    </div>
    -->

    <h1 class="title">
      <i class="icon e1a-{{classObj.classavatar}} e1a-2x emojicon"></i>
      {{classObj.className}}
    </h1>

  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}

    <div style="position: absolute; right: 0;">

      <a href="{{pathFor 'classEdit' classCode=classObj.classCode  }}"
         class="button button-clear button-entering button-active "><i class="icon ion-ios-information-outline"></i></a>

    </div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
<!-- -->
        <div class="button-bar">
          <a class="button button-bar-button" href="{{ pathFor 'ClassUsers' classCode=classObj.classCode }}">
            <i class="icon ion-ios-people"></i>
            <div class="smaller">
            <!--bug see https://github.com/TAPevents/tap-i18n/issues/50-->
              {{#if isPlural classObj.joinedUserId.length }}
                <div>{{ classObj.joinedUserId.length }} {{_ "Subscriber_plural" }} </div>
              {{else}}
                {{#if isZero classObj.joinedUserId.length }}
                  <div> {{_ "No_subscriber" }} </div>
                {{else}}
                  <div>{{ classObj.joinedUserId.length }} {{_ "Subscriber" }} </div>
                {{/if}}
              {{/if}}
            </div>
          </a>
          <a class="button button-bar-button" href="{{pathFor 'ClassInvitation' classCode=classObj.classCode  }}"> <i class="icon ion-person-add"></i>
            <div class="smaller">
              <div>{{_ "AddMembers"}}</div>
            </div>
          </a>
        </div>
    <!---->

        <div class="list messageList background-wallpaper"  id="messageList">
          {{#each classObj.messagesObj}}
  
            <div class="item card less-top-bottom-padding less-top-bottom-margin">
             <!-- <div class="item ">
                <div class="row" style="padding:0">
                  <div class="col" style="padding:0"><h2>{{className}}</h2></div>
                  <div class="col" style="padding:0;text-align:right">{{createdAt}}</div>
                </div>
              </div>-->
              <div class="item less-top-bottom-padding">
                <div>
                  {{#autolink}}<div class='content'><pre>{{content}}</pre></div>{{/autolink}}
                  <div>
                    {{#if havePic}}
                      {{#each imageArr}}
                        {{#with getImage}}
                          {{#if this.isUploaded}}
                            {{#if this.hasStored 'images'}}
                              <div class="">
                                <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs responsive-img" data-fullsizeimage="{{this.url  }}">
                                <!-- <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a> -->
                              </div>
                            {{/if}}
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    {{/if}}
                  </div>
                  <div>
                    {{#if haveSound}}
                      {{#each soundArr}}
                        {{#with getSound}}
                          {{#if this.isUploaded}}
                            {{#if this.hasStored 'sounds'}}                           
                              {{#if  this.url}}
                                {{#if isCordova}}
                                  <div class="bubble">
                                    <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}"></a>
                                    <!-- <a class="button button-icon icon ion-close-circled voice" data-clipid="{{_id}}"></a> -->
                                  </div>                    
                                {{else}}
                                  <div class="bubble">
                                    <audio controls>
                                      <source src="{{this.url}}" type="audio/wav">
                                    </audio>
                                    <!-- <a class="button button-icon icon ion-close-circled voice" data-clipid="{{_id}}"></a> -->
                                  </div>                                                                                    
                                {{/if}}
                              {{/if}}                                 
                            {{/if}}                      
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    {{/if}}
                  </div>
                  <div>
                    {{#if haveDocument}}
                      {{#each documentArr}}
                        {{#with getDocument}}
                          {{#if this.isUploaded}}
                                {{#if this.hasStored 'documents'}}                           
                                    <div class="bubble">
                                    <a href='{{this.url}}'> <i class="icon ion-ios-download-outline"></i>&nbsp;{{this.name}}</a>
                                    <br/><span  class='timestamp'>{{formatTime  ../sendAt}}</span>                       
                                    </div>
                                {{else}}
                                      {{> LoadingSpinner}}                                  
                                {{/if}}
                            {{else}}
                                      {{> LoadingSpinner}}             
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    {{/if}}                      
                  </div>
                </div>
                
                <p>
                  {{#if isNotEmpty star}}
                    <a href="#" class="subdued">{{star.length}} <i class="ion-ios-star colored"></i></a>
                  {{/if}}
                  {{#if isNotEmpty checked}}
                    <a href="#" class="subdued">{{checked.length}} <i class="ion-checkmark-round colored"></i></a>
                  {{/if}}
                  {{#if isNotEmpty close}}
                    <a href="#" class="subdued">{{close.length}} <i class="ion-close-round colored"></i></a>
                  {{/if}}
                  {{#if isNotEmpty help}}
                    <a href="#" class="subdued">{{help.length}} <i class="ion-help colored"></i></a>
                  {{/if}}
                  <span class='timestamp'>{{formatTime sendAt}}</span>  
                </p>
                 
              </div>
            </div>
            <!-- </a> -->
          {{/each}}
        </div>

        {{> SendMessage callFromClassPanel=true }}
     
      
      
      
    {{/ionContent}}
  {{/ionView}}
</template>