/*****************************************************************************/
/* ClassPanel: Style */
/*****************************************************************************/
.messageList {
	
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 123px);
  //height: auto;
  bottom: 0;
  
}


