<template name="ClassPanel">

    {{#contentFor "headerTitle"}}
      <h1 class="title">{{classObj.className}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton text=""}}
    {{/contentFor}}



    {{#contentFor "headerButtonRight"}}



    <div style="position: absolute; right: 0;">

      <a href="{{pathFor 'classEdit' classCode=classObj.classCode  }}"  class="button button-clear button-entering button-active "><i class="icon ion-information-circled"></i></a>

      <a href="{{ pathFor 'SendMessage' classCode=classObj.classCode }}"  class="button button-clear button-entering button-active">
        <i class="icon ion-compose"></i>
      </a>

      <button  class="button button-clear button-entering button-active addClassBtn">?</button>

    </div>
    {{/contentFor}}


   {{#ionView}}
  {{#ionContent}}




    <div class="container">

      <div class="button-bar">
        <a class="button" href="{{ pathFor 'ClassUsers' classCode=classObj.classCode }}">{{ classObj.joinedUserId.length }} users</a>
        <a class="button" href="{{pathFor 'ClassInvitation'  }}">add</a>
      </div>

        <div class="list">
        {{#each classObj.messagesObj}}

        <label class="item item-input item-select">
          <div class="input-label">
            {{content}}
          </div>
          <select id="{{msgId}}" class="chooseType" data-mgsid={{msgId}}>
              <option value="">select</option>
              <option value="like">good</option>
              <option value="dislike">bad</option>
          </select>
          <div>like:{{like.length}}</div>
          <div>dislike:{{dislike.length}}</div>


        </label>
        {{/each}}
        </div>
    </div>





    {{/ionContent}}
     {{/ionView}}
</template>
