/*****************************************************************************/
/* SignForm: Style */
/*****************************************************************************/
.sign-form {
	height: 100vh;
	background: #3373B8;
}

.cc{
	padding: 0 2rem;
	color: white;
	
}


/*#3373B8*/