.role-selection,
.number-of-student-selection{
    background-color: white;
}

.role-selection.chosen-role,
.number-of-student-selection.chosen-number-of-student{
    background-color: #94c528;
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;    
}