<template name="SendMessage">

    {{#contentFor "headerTitle"}}
      <h1 class="title">New Notification</h1>
    {{/contentFor}}




    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton href="/Classes" }}
    {{/contentFor}}



    {{#contentFor "headerButtonRight"}}
    <div style="position: absolute; right: 0;">
      <button  class="button button-clear button-entering button-active sendMsgBtn">Send</button>
      <!-- <button  class="button button-clear button-entering button-active msgDoneClassBtn {{doneClassBtnStatus}}">Done</button> -->

    </div>
    {{/contentFor}}




  {{#ionContent}}



  <div class="list">

      <!-- <label class="item item-input">
        <a href="{{ pathFor 'MessageClassSelection' }}">
        To :
        &nbsp;

        <input type="text" class="target" value={{selectArr}} >
        <div>{{selectArrString}}</div>

        <select class="js-example-basic-multiple" multiple="multiple">
            {{#each createdClasses}}
                <option value="{{classCode}}" {{isSelect classCode}} >{{className}}</option>
            {{/each}}

        </select>
        </a>
      </label> -->

      <a href="{{pathFor 'MessageClassSelection' }}">
        <div class="item">
          To: {{ arrToString searchObj.selectArrName }}
        </div>
      </a>



    <!-- <div class="{{isSelecting}}">
      {{#each createdClasses}}
      <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox" value="{{classCode}}" data-className={{className}} class="targetCB" >
       </label>
          {{className}}
      </li>
      {{/each}}
    </div> -->



    <label class="item item-input {{messageBox}}" style="height:60vh">
      <textarea class="msgBox" placeholder="message" style="height:100%;font-size:20px;" ></textarea>
    </label>


    <!-- <li class="item item-checkbox {{checkbox}}">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Flux Capacitor
    </li> -->





  </div>









    {{/ionContent}}
</template>
