/*****************************************************************************/
/* SendMessage: Style */
/*****************************************************************************/
.send-message {
}

.hidden {
  display: none !important;
}

.bubble {
  padding: 10px;
  background: #ACDA45;
}
