/*****************************************************************************/
/* SendMessage: Style */
/*****************************************************************************/
.send-message {
}

.hidden {
  display: none !important;
}

.bubble {
  padding: 10px;
  background: #ACDA45;
}

.input-box-panel  {
  background-color: #E6E6E6  !important;
  padding:0 !important;
}