<template name="SendMessage">


  {{#if callFromClassPanel}}
   
  {{else}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">{{_ "NewNotification"}}</h1>
    {{/contentFor}}
  
  
  
  
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton href="/Classes" text=" "}}
    {{/contentFor}}
  
  
  
    {{#contentFor "headerButtonRight"}}
      <div style="position: absolute; right: 0;">
        
        <button class="button button-icon icon ion-paper-airplane stable sendMsgBtn"></button>
  
      </div>
    {{/contentFor}}
  {{/if}}


  {{#if callFromClassPanel}}
      <div class="list" style='padding-top:0;'>
   
        <div class="preview" style='display:none'>
          {{#each uploadPic}} {{#with FS.GetFile "images" this}}
          <!-- In here, we can use the FS.File instance methods that work as helpers, such as {{url}} or {{isImage}} -->
          {{#unless this.isUploaded}} {{> LoadingSpinner}} {{else}}
          <div class="preview-bubble">
            <img style='height:100px;margin:-5px 0;' src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}">
            <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a>
            
          </div>
          {{/unless}} {{/with}} {{/each}} {{#each uploadSound}} {{#with FS.GetFile "sounds" this}}
          <!-- In here, we can use the FS.File instance methods that work as helpers, such as {{url}} or {{isImage}} -->
          {{#unless this.isUploaded}} {{> LoadingSpinner}} {{else}} {{#if url}}
          <div class="bubble">
            <!-- <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}" >
                      <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a> -->
            <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}" data-clipurl="{{url}}"></a>
            <a class="button button-icon icon ion-close-circled voice" data-clipid="{{_id}}"></a>
          </div>
          {{/if}} {{/unless}} {{/with}} {{/each}}
          {{#each uploadDocuments}} 
           {{#with getDocument}}

            <div class="bubble">
             <a href="{{this.url}}"><i class="icon ion-ios-upload-outline"></i>&nbsp;{{this.name}}</a>
            </div>

           {{/with}}
          {{/each}}      
        </div>
              
        <div style="display:none;"> {{ arrToString searchObj.selectArrName }}</div>
        <div class="item item-input input-box-panel  {{messageBox}}" style="">
          <textarea dir="auto" name="msg" maxlength="5000" class="inputBox msgBox autogrow-short" placeholder="{{isPlaceHolder}}"></textarea>
          <button style="min-height:0;border:0;padding:0;margin:0;border-radius:6px;width:100px;display:none;{{isShown}}" class="send-msg-btn-class sendMsgBtn button icon  ion-paper-airplane "></button>
          <span class='mediaButtonGroup' style='{{isHidden}};width:240px;'>
            <span class="file " style='display:inline-block;padding:10px;'>
                <i class="icon ion-ios-upload-outline imageIcon"></i>
                <input type="file" id="documentBtn" accept=".pdf, .doc, .docx, .ppt, .pptx, .xls , .xlsx">
            </span>              
            <span class="file image-btn-class" style='display:inline;padding:10px;{{withExtraRightPadding}}'>
              <i class="icon ion-ios-camera-outline imageIcon {{ isDisabled 'camera' }} "></i>
              <input type="file" id="imageBtn" accept="image/*;capture=camera" capture="camera" {{ isDisabled 'camera' }}>
            </span>
            {{#if isCordova}}
            <span class="file voice voice-btn-class {{ isDisabled 'voice' }} " style='display:inline;padding:10px;padding-right:40px;'>
              <i class="icon  ion-ios-mic-outline {{ isDisabled 'voice' }} "></i>
            </span>
            {{/if}}
          </span>
        </div>
   

      
      </div>
  {{else}}
    {{#ionContent}}
    
     <div class="list">
      
         <div class="padding preview" style="display:none;">
          {{#each uploadPic}} {{#with FS.GetFile "images" this}}
          <!-- In here, we can use the FS.File instance methods that work as helpers, such as {{url}} or {{isImage}} -->
          {{#unless this.isUploaded}} {{> LoadingSpinner}} {{else}}
          <div class="bubble">
            <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}">
            <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a>
          </div>
          {{/unless}} {{/with}}
          {{/each}}
          
          {{#each uploadSound}} {{#with FS.GetFile "sounds" this}}
          <!-- In here, we can use the FS.File instance methods that work as helpers, such as {{url}} or {{isImage}} -->
          {{#unless this.isUploaded}} {{> LoadingSpinner}} {{else}}
          {{#if url}}
          <div class="bubble">
            <!-- <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}" >
                      <a class="button button-icon icon ion-close-circled image" data-imgid="{{_id}}"></a> -->
            <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}" data-clipurl="{{url}}"></a>
            <a class="button button-icon icon ion-close-circled voice" data-clipid="{{_id}}"></a>
          </div>
          {{/if}} {{/unless}} {{/with}}
          {{/each}}
      
          {{#each uploadDocuments}} 
           {{#with getDocument}}

            <div class="bubble">
             <a href="{{this.url}}">Doc Preview</a>
            </div>

           {{/with}}
          {{/each}}
        </div>
             
        <a href="{{pathFor 'MessageClassSelection' }}">
          <div class="item">
            {{_ "To" }} {{ arrToString searchObj.selectArrName }}
          </div>
        </a>
      
        <label class="item item-input {{messageBox}}" style="height:40vh">
          <textarea class="msgBox" placeholder="{{_'message'}}" style="height:100%;font-size:20px;"></textarea>
        </label>
      
        <div class="">
          <div class="row">
            <div class="col col-10">
              <div class="file ">
                <i class="icon ion-image imageIcon {{ isDisabled 'camera' }} "></i>
                <input type="file" id="imageBtn" accept="image/*;capture=camera" capture="camera" {{ isDisabled 'camera' }}>
              </div>
            </div>
            {{#if isCordova}}
            <div class="col col-10">
              <div class="file voice {{ isDisabled 'voice' }} ">
                <i class="icon  ion-mic-a {{ isDisabled 'voice' }} "></i>
              </div>
            </div>
            {{/if}}
          </div>
        </div>

      
      </div>      
       
       
             
    {{/ionContent}}
  {{/if}}










</template>
