<template name="ShareInvite">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{_ "ShareALink" }}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <!-- <button  class="button button-clear button-entering button-active addClassBtn">?</button> -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="card">
        <div class="item item-text-wrap">

          <div style="text-align:center">
            <h2>{{_ "ShareThisLinkWithYourClass"}}</h2>
            <p>{{_ "ShareThisLinkHelpsStudentsAndParentJoinYourClass"}}</p>
          </div>
          
          <input id='shareLink' readonly value='{{getShareLink}}' class="classCodeDiv" />
            
         

          <div>
            {{#if isCordova}}
              <!--display share button only if using cordova in android and ios-->
              <button class="button button-block button-positive shareBtn">
                <i class="icon ion-ios-upload-outline"> {{_ "Share" }}</i>
              </button>
            {{/if}}
            <!-- <button style="button button-block button-positive" onclick="window.plugins.socialsharing.share('Message only')">message only</button> -->
            <button class="button button-block button-positive copyBth">
              {{_ "Copy"}}
            </button>
          </div>
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>
