/*****************************************************************************/
/* ChatRoom: Style */
/*****************************************************************************/
.chat-room {
}

.item{
  white-space: normal !important;
}

.list.chatroomList{
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
  margin-bottom: 0;
  .item{
    border-color: #FFF !important;
    background-color: rgba(255, 0, 0, 0);
  }
}

.bar.bar-footer.input-footer{
  padding: 0;
  .row{
    padding: 0;
    .col{
      padding: 0;
    }
  }
}

// .list{
//   overflow-y: auto;
// }

.list.chatroomList:last-child{
}

.bubble{
  position: relative;
  max-width: 50vw;
  /*width: 210px;
  height: 85px;*/
  padding: 10px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.mind{
  text-align: right;
  .bubble
  {
    float: right;
    background: #A0FF9F;
  }
}

.notmind{
  text-align: left;
  .bubble
  {
    float: left;
    background: #E0E0E0;
  }
}

.ion-image::before,
.ion-mic-a::before,
.ion-paperclip::before
{
  font-size: 20px;
}

.item.item-input.chatroomItem{
  padding: 0;
}

.imageBtnTri{
    display: inline-block;
    width: 40px;
    height: 32px;
    margin: 0 20px;
    background-image: url('/img/picture64.png');
    background-repeat: no-repeat;
}
