<template name="ChatRoom">

    {{#contentFor "headerTitle"}}
        <h1 class="title">{{getName}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton href="/chat"  }}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <!-- <div style="position: absolute; right: 0;">
    <a href="{{pathFor 'classEdit'  }}"  class="button button-clear button-entering button-active "><i class="icon ion-ios-information-outline"></i></a>
  </div> -->
    {{/contentFor}}

    {{#ionView class="wallpaper"}}
    <!--{{#ionView }}-->
        {{#ionContent}}

            <div class="list chatroomList" id="chatroomList">

                {{#each chatRoomProfile.messagesObj}}
                    <div class="item {{isMind}}">
                        {{#if isText}}
                            <div class="bubble">
                                {{text}}
                            </div>
                        {{/if}}
                        {{#if isImage}}
                            {{#with getImage}}
                                {{#if this.isUploaded}}
                                    {{#if this.hasStored 'images'}}
                                        <div class="bubble">
                                            <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs"
                                                 data-fullsizeimage="{{this.url  }}">
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/with}}
                        {{/if}}
                        {{#if isSound}}
                            {{#with getSound}}
                                {{#if this.isUploaded}}
                                    {{#if this.hasStored 'sounds'}}

                                        <div class="bubble">
                                            <a class="button button-icon icon ion-play playBtn"
                                               data-clipid="{{_id}}"></a>
                                            <!-- <div data-clipid="{{_id}}" class="playBtn" >
                        <i class="icon ion-play"></i>
                      </div> -->
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/with}}
                        {{/if}}
                    </div>
                {{/each}}
            </div>

            <div class="list inputBoxList">

                {{#if targertWorkingTime}}
                    <div class="item " style="text-align:center">
                        <i class="icon ion-clock"></i> {{_ "Itisworkofftime"}}
                    </div>
                {{/if}}

                <div class="item item-input chatroomItem">
                    <div class="row">
                        <div class="col">
                            <div class="file">
                                <!--<button class="button button-icon icon ion-ios-camera-outline stable"></button>-->
                                <i class="icon stable imgtoolbar ion-ios-camera-outline"></i>
                                <input type="file" id="imageBtn" accept="image/*">
                            </div>
                        </div>
                        <div class="col">
                            <div class="file voice">
                                <i class="icon stable imgtoolbar ion-ios-mic"></i>
                                <!--<button class="button button-icon icon ion-mic-a stable"></button>-->
                            </div>
                        </div>
                    <!-- <textarea style="font-size:10px;line-height:10px;" dir="auto" name="msg" maxlength="5000" class="inputBox autogrow-short" placeholder=" "></textarea> -->
                    <textarea
                            style="font-size:12px;line-height:14px;
                            border: 1px solid;
                            border-color:#EAEAEA"
                            dir="auto" name="msg" maxlength="5000"
                              class="inputBox autogrow-short" placeholder=" "></textarea>
                    <!--<button style="margin-right:10px;width:100px;" class="sendBtn button button-positive"> {{_ "Send" }}</button>-->
                    <button class="button button-icon icon stable imgtoolbar ion-paper-airplane sendBtn"></button>
                    </div>
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>

<template name="imageModal">
    {{#ionModal title="" }}
        <div class="row row-center" style="height:100%">
            <div class="col" style="text-align: center;">
                <img src="{{src}}" alt="" style="max-width:100%">
            </div>
        </div>
    {{/ionModal}}
</template>
