<template name="ChatRoom">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{getName}}</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton href="/chat"  }}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
    <!-- <div style="position: absolute; right: 0;">
    <a href="{{pathFor 'classEdit'  }}"  class="button button-clear button-entering button-active "><i class="icon ion-ios-information-outline"></i></a>
  </div> -->
  {{/contentFor}}



  {{#ionView}}
    {{#ionContent}}



      <div class="list chatroomList" id="chatroomList">
        {{#each chatRoomProfile.messagesObj}}
          
          <div class="item {{isMine}}">
            {{#if isText}}
              <div class="bubble">
                {{text}}
                <br/><span class='timestamp'>{{formatTime sendAt}}</span>
               
              </div>

            {{/if}}
            {{#if isImage}}
              <!-- {{#with getImage}}
                {{#if this.isUploaded}}
                  {{#if this.hasStored 'images'}}
                        <div class="bubble">
                          <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}" >
                        </div>
                        {{/if}}
                {{/if}}
              {{/with}} -->
              {{#with FS.GetFile "images" this.image}}
                <div class="bubble">
                  <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}">
                  
                    <!--read the below to know how to access parent scope value-->
                    <!--https://www.discovermeteor.com/blog/a-guide-to-meteor-templates-data-contexts/-->
                    <br/><span  class='timestamp'>{{formatTime  ../sendAt}}</span>  
                                
            
                </div>
              {{/with}}

            {{/if}}
            {{#if isSound}}
              {{#with getSound}}
                {{#if this.isUploaded}}
                  {{#if this.hasStored 'sounds'}}
                    {{#if  this.url}}
                      <div class="bubble">
                        <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}"></a>
                        <br/><span  class='timestamp'>{{formatTime  ../sendAt}}</span>                       
                      </div>
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/with}}
            {{/if}}
          </div>        
        {{/each}}
      </div>

      <div class="list inputBoxList">

        {{#if targertWorkingTime}}
          <div class="item " style="text-align:center">
            <i class="icon ion-clock"></i> {{_ "Itisworkofftime"}}
          </div>
        {{/if}}


        <div class="item item-input chatroomItem">
          <textarea style="font-size:20px;line-height:25px;padding-left: 20px;" dir="auto" name="msg" maxlength="5000"
                    class="inputBox autogrow-short" placeholder="Message"></textarea>
          <button style="width:100px;display:none;" class="sendBtn button icon  ion-paper-airplane "></button>
          <span class='mediaButtonGroup' style='width:107px;'>
            
                <span class="file " style='display:inline;padding:10px;'>
                  <i class="icon ion-image imageIcon "></i>
                  <input type="file" id="imageBtn" accept="image/*;capture=camera" capture="camera">
                </span>
          
            
                <span class="file voice" style='display:inline;;padding:10px;'>
                  <i class="icon  ion-mic-a "></i>
                </span>
           
          </span>
        </div>

      </div>



    {{/ionContent}}
  {{/ionView}}


</template>

<template name="imageModal">
  {{#ionModal title="" }}
    <div class="row row-center" style="height:100%">
      <div class="col" style="text-align: center;">
        <img src="{{src}}" alt="" style="max-width:100%">
      </div>
    </div>
  {{/ionModal}}
</template>
