<template name="ChatRoom">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{getName}}</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton href="/chat" text=" "}}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
    <!-- <div style="position: absolute; right: 0;">
    <a href="{{pathFor 'classEdit'  }}"  class="button button-clear button-entering button-active "><i class="icon ion-ios-information-outline"></i></a>
  </div> -->
  {{/contentFor}}



  {{#ionView}}
    {{#ionContent}}


      <div class="list chatroomList background-wallpaper" id="chatroomList">
        {{#each chatRoomProfile.messagesObj}}
          
          <div class="item {{isMine}}">
            {{#if isText}}
              <div class="bubble">
                {{#autolink}}<pre>{{text}}</pre>{{/autolink}}
                <span class='timestamp'>{{formatTime sendAt}}</span>
               
              </div>

            {{/if}}
            {{#if isImage}}
              <!-- {{#with getImage}}
                {{#if this.isUploaded}}
                  {{#if this.hasStored 'images'}}
                        <div class="bubble">
                          <img src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs" data-fullsizeimage="{{this.url  }}" >
                        </div>
                        {{/if}}
                {{/if}}
              {{/with}} -->
              {{#with FS.GetFile "images" this.image}}
              
              <!--read the below to know how to access parent scope value-->
              <!--https://www.discovermeteor.com/blog/a-guide-to-meteor-templates-data-contexts/-->  
              <style>.bubble.image-bubble.image{{@index}}:after{content:"{{formatTime  ../sendAt}}";white-space: nowrap;}</style>
                <div class="bubble image-bubble image{{@index}}">
                  
                  <!--http://stackoverflow.com/questions/10426786/div-gets-extra-height-for-no-reason-->
                  <img style='display:block;' src="{{this.url store='thumbs'  }}" alt="" class="imgThumbs responsive-img" data-fullsizeimage="{{this.url  }}"> 
                </div>
              {{/with}}

            {{/if}}
            {{#if isSound}}
              {{#with getSound}}
                {{#if this.isUploaded}}
                  {{#if this.hasStored 'sounds'}}
                    {{#if  this.url}}
                      <div class="bubble sound-bubble">
                        <a class="button button-icon icon ion-play playBtn" data-clipid="{{_id}}"></a>
                        <br/><span  class='timestamp'>{{formatTime  ../sendAt}}</span>                       
                      </div>
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/with}}
            {{/if}}
          </div>        
        {{/each}}
      </div>

      <div class="list inputBoxList">

        {{#if targertWorkingTime}}
          <div class="item " style="text-align:center">
            <i class="icon ion-clock"></i> {{_ "Itisworkofftime"}}
          </div>
        
        {{else}}

        <div class="item item-input chatroomItem">
          <textarea style="" dir="auto" name="msg" maxlength="5000"
                    class="inputBox autogrow-short" placeholder=""></textarea>
          <button style="min-height:0;border:0;padding:0;margin:0;border-radius:6px;width:100px;display:none;" class="sendBtn button icon  ion-paper-airplane "></button>
          <span class='mediaButtonGroup' style='width:107px;'>
            
                <span class="file " style='display:inline;padding:10px;'>
                  <i class="icon ion-ios-camera-outline imageIcon "></i>
                  <input type="file" id="imageBtn" accept="image/*;capture=camera" capture="camera">
                </span>
          
            
                <span class="file voice" style='display:inline;padding:10px;'>
                  <i class="icon  ion-ios-mic-outline "></i>
                </span>
           
          </span>
        </div>
        {{/if}}
      </div>



    {{/ionContent}}
  {{/ionView}}


</template>

<template name="imageModal">
  {{#ionModal title="" }}
    <div class="row row-center" style="height:100%">
      <div class="col" style="text-align: center;">
        <img src="{{src}}" alt="" style="max-width:100%">
      </div>
    </div>
  {{/ionModal}}
</template>
