/*****************************************************************************/
/* ChatRoom: Style */
/*****************************************************************************/
.chat-room {
}

.item {
  white-space: normal !important;

}

//here is the toolbar for sending
.item.item-input.chatroomItem {
  padding: 5px 3% 5px 3%;
  background-color: #E6E6E6;
}

.imgtoolbar {
  font-size: 30px;
}

.list.chatroomList {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 70px);
  //height: auto;
  bottom: 0;
  margin-bottom:0px;
  .item {
    /*border-color: #FFF !important;*/
    border-color: transparent;
    background-color: transparent;
    padding:1px 16px 1px 16px;    
  }

}

.list.chatroomList:last-child {
}

.bar.bar-footer.input-footer {
  padding: 0;
  .row {
    padding: 0;
    .col {
      padding: 0;
    }
  }
}


.bubbleold {
  position: relative;
  max-width: 50vw;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

.timestamp{
  color:gray;
  font-size:65%;
  float:right;
}

//here we see talkbubble
//https://css-tricks.com/examples/ShapesOfCSS/
.mine {
  text-align: left;
  .bubble {
    float: right;
    background: #C8EBB0;

    position: relative;
    max-width: 80vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
  }
  .bubble:before {
    border-left: 12px solid #C8EBB0;//was not defined with .bubble
    left: 100%;

    content:"";
    position: absolute;
    //top: 26px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
}

.notmine {
  text-align: left;
  .bubble {
    float: left;
    background: #EAEAEA;

    position: relative;
    max-width: 80vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
  }
  .bubble:before {
    border-right: 12px solid #EAEAEA;//was not defined with .bubble
    right: 100%;

    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

}

.ion-image::before,
.ion-mic-a::before,
.ion-paperclip::before {
  font-size: 20px;
}

.imageBtnTri {
  display: inline-block;
  width: 40px;
  height: 32px;
  margin: 0 20px;
  background-repeat: no-repeat;
}

.image.imageBtnTri {
  background-image: url('/img/picture64.png');
}

.mic.imageBtnTri {
  background-image: url('/img/picture64.png');
}

.file {
  -webkit-font-smoothing: antialiased;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.1s, 0.1s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-timing-function: linear, linear;
  // background-color: rgb(241, 241, 241);
  // border-bottom-color: rgb(231, 231, 231);

  box-sizing: border-box;
  // color: rgb(102, 102, 102);
  cursor: pointer;
  display: block;
  font-family: Roboto, HelveticaNeue-Light, sans-serif;
  font-size: 22px;
  height: 36px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 6px;
  text-align: center;
  transition-delay: 0s, 0s;
  transition-duration: 0.1s, 0.1s;
  // transition-property: background-color, color;
  // transition-timing-function: linear, linear;
  vertical-align: baseline;
  visibility: visible;
  width: 39.25px;
  position: relative;
}

#imageBtn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  // background-color: rgba(0, 0, 0, 0);
  // border-bottom-color: rgb(102, 102, 102);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  // border-left-color: rgb(102, 102, 102);
  border-left-style: none;
  border-left-width: 0px;
  // border-right-color: rgb(102, 102, 102);
  border-right-style: none;
  border-right-width: 0px;
  // border-top-color: rgb(102, 102, 102);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  // color: rgb(102, 102, 102);
  cursor: pointer;
  display: block;
  font-family: Roboto, HelveticaNeue-Light, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 36px;
  left: 0px;
  letter-spacing: normal;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  right: 0px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  top: 0px;
  visibility: visible;
  width: 44px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
  position: absolute;
  z-index: 100;
}

.imageIcon {
  z-index: -1;
}

.inputBoxList{

}

textarea.inputBox{
  font-size:larger;
  line-height:1.2;
  padding-left: 5%;
  border-radius: 6px;
  margin-right:0.25em;
}

