<template name='CalendarEvent'>
	
        <div class="list ">
          <label class="item item-input">
            <input id='event-name' type="text" value='' placeholder="Event Name">
          </label>
          <label class="item item-input">
            <input id='location' type="text" value='' placeholder="Location">
          </label>
          <label class="item item-input">
            Start Date
            <input id='start-date' type="date" value='' placeholder="Start Date">
          </label>
          <label class="item item-input">
            At&nbsp;&nbsp;
            <input id='start-date-time' type="time" value='' placeholder="Start Date Time">
          </label>        
          <label class="item item-input">
            End Date
            <input id='end-date' type="date" value='' placeholder="End Date">
          </label>
          <label class="item item-input">
            To&nbsp;&nbsp;
            <input id='end-date-time' type="time" value='' placeholder="End Date Time">
          </label>          
          <!--<label class="item item-input">
            <input id='content' type="text" value='{{email}}' placeholder="Content">
          </label>-->	  		  	  
        </div>	
	
</template>