<template name='CalendarEvent'>
	
        <div class="list ">
          <label class="item item-input">
            <input id='event-name' type="text" value='{{email}}' placeholder="Event Name">
          </label>
          <label class="item item-input">
            <input id='location' type="text" value='{{email}}' placeholder="Location">
          </label>
          <label class="item item-input">
            <input id='start-date' type="date" value='{{email}}' placeholder="Start Date">
          </label>
          <label class="item item-input">
            <input id='start-date-time' type="time" value='{{email}}' placeholder="Start Date Time">
          </label>        
          <label class="item item-input">
            <input id='end-date' type="date" value='{{email}}' placeholder="End Date">
          </label>
          <label class="item item-input">
            <input id='end-date-time' type="time" value='{{email}}' placeholder="End Date Time">
          </label>          
          <label class="item item-input">
            <input id='content' type="text" value='{{email}}' placeholder="Content">
          </label>				  		  	  
        </div>	
	
</template>