<template name="EmailInvite">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "SendInvitations"}}</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " }}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
    <!-- <button  class="button button-clear button-entering button-active doneClassBtn">
      <i class="icon ion-ios-help-outline"></i>
    </button> -->
  {{/contentFor}}

  {{#ionContent}}




    <ul class="list">
      <div class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" class="searchbar" placeholder="search">
      </div>
      {{#each contactList}}
        {{#if isSearched this}}
          <div class="item item-button-right">
            {{getName this}}
            <button class=" {{invited}} button button-positive inviteBtn" data-id={{id}}>
              {{_ "invite"}}
            </button>
          </div>
        {{/if}}
      {{/each}}
    </ul>





  {{/ionContent}}
</template>
