<template name="EmailInvite">

    {{#contentFor "headerTitle"}}
      <h1 class="title">Send invitations</h1>
    {{/contentFor}}




    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton }}
    {{/contentFor}}



    {{#contentFor "headerButtonRight"}}
      <button  class="button button-clear button-entering button-active doneClassBtn">?</button>
    {{/contentFor}}

    {{#ionContent}}




    <ul class="list">
      {{#each contactList}}


        <li class="item">{{this.displayName}}</li>

      {{/each}}
    </ul>





    {{/ionContent}}
</template>
