<template name="ClassUsers">

  {{#contentFor "headerTitle"}}
    <!-- bug see https://github.com/TAPevents/tap-i18n/issues/50 -->
    {{#if isPlural classObj.joinedUserId.length }}
      <h1 class="title">{{classObj.joinedUserId.length}} {{_ "Subscriber_plural"}}</h1>
    {{else}}
      <!--<h1 class="title">{{classObj.joinedUserId.length}} {{_ "Subscriber" count=classObj.joinedUserId.length}}</h1>-->
      <h1 class="title">{{classObj.joinedUserId.length}} {{_ "Subscriber"}}</h1>
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path='ClassPanel' text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <!-- <button  class="button button-clear button-entering button-active addClassBtn">search</button> -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="list">
        {{#if emptyList}}

          <div class="item">
            <div class="row row-center">
              <div class="col">{{_ "No_subscriber"}}</div>
            </div>
          </div>

        {{else}}

          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="{{_ "Search" }}" class="searchbar">
          </label>

          {{#each usersProfile}}
            {{#if isSearched this}}
              <a href="{{ pathFor 'UserDetail' _id=this._id classCode=classObj.classCode classId=classObj._id  }}">
                <div class="item less-top-bottom-padding">
                  {{this.profile.firstname}} {{this.profile.lastname}} <br>
                  <div style="font-size: smaller;color:grey"> {{this.profile.role}}</div>
                </div>
              </a>
            {{/if}}
          {{/each}}

        {{/if}}
      </div>

      <a href="{{ pathFor 'ShareInvite' classCode=classObj.classCode }}">
        <div class="bar bar-footer bar-stable">
          <div class="title">{{_ "Addstudentsandparents"}}</div>
        </div>
      </a>

    {{/ionContent}}
  {{/ionView}}

</template>