<template name="Tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android"}}
      <!-- {{> ionTab title="Home" path="Home" icon="android-home"}} -->
      {{> ionTab title=_Classes path="TabClasses" icon="android-people" badgeNumber=sumOfNewClassMessageAndCommentCounter}}
      {{> ionTab title=_Chat    path="TabChat" icon="android-chat" badgeNumber=sumOfNewChatMessageCounter }}
      {{> ionTab title=_You     path="TabYou" icon="gear-b"}}

    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      <!-- {{> ionTab title="Home" path="Home" iconOff="ios-home-outline" iconOn="ios-home"}} -->
      {{> ionTab class='class-ionTab' title=_Classes path="TabClasses" iconOff="ios-people-outline" iconOn="ios-people" badgeNumber=sumOfNewClassMessageAndCommentCounter}}
      {{> ionTab class='chat-ionTab' title=_Chat    path="TabChat" iconOff="ios-chatbubble-outline" iconOn="ios-chatbubble" badgeNumber=sumOfNewChatMessageCounter }}
      {{> ionTab class='you-ionTab' title=_You     path="TabYou" iconOff="ios-gear-outline" iconOn="ios-gear"}}
    {{/ionTabs}}
  {{/if}}
</template>
