<template name="MyAccount">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "MyAccount"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active editAccountBtn">{{_ "Update"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#autoForm schema=editprofile id="editprofile" resetOnSuccess=false type="method" doc=this meteormethod="profile/edit"  }}

        <div class="list">

          <label class="item item-input item-stacked-label">
            <!--<span class="input-label">{{_ "firstname"}}</span>-->
            {{> afFieldInput name="firstname"  placeholder=getFirstNamePlaceHolder value=profile.firstname  }}
          </label>
          <label class="item item-input item-stacked-label">
            <!--<span class="input-label">{{_ "lastname"}}</span>-->
            {{> afFieldInput name="lastname"   placeholder=getLastNamePlaceHolder value=profile.lastname }}
          </label>
          <label class="item item-input item-stacked-label">
            <!--<span class="input-label">Email</span>-->
            {{> afFieldInput name="email" placeholder=getEmailPlaceHolder value=email  }}
          </label>
          
          <label class="item item-input item-stacked-label">
            <!--<span class="input-label">Role</span>  -->
            <p>{{profile.role}}</p>
          </label>   
                 
        </div>
      {{/autoForm}}

    {{/ionContent}}
  {{/ionView}}
</template>
