.AdminAddOthers .control-label,
.AdminAddStudent__newRelationship .control-label,
.AdminAddOthers .intl-tel-input,
.AdminAddStudent__newRelationship .intl-tel-input,
.AdminAddStudent__newRelationship .addStudent__newRelationship-type {
    display: block;
}

.AdminAddOthers .intl-tel-input,
.AdminAddStudent__newRelationship .intl-tel-input {
    width: 100%;
}

.AdminAddStudent__newRelationship,
.addRelationship {
    padding: 24px;
    box-sizing: border-box;
    background-color: rgb(236, 252, 251);
    border: 10px solid white;
}

.AdminAddOthers .control-label,
.AdminAddStudent__newRelationship .control-label {
    padding-bottom: 0;
    font-weight: 700;
    margin-top: 18px;
}

.AdminAddOthers input,
.AdminAddOthers select,
.AdminAddStudent__newRelationship input,
.AdminAddStudent__newRelationship select {
    background-color: white !important;
}

.AdminAddStudent__newRelationship .AddStudentNewRelationship__remove {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: grey;
    border: none;
    font-weight: 700;
    text-indent: -99999px;
    border-radius: 0;
    width: 24px;
    height: 24px;
}

.AdminAddStudent__newRelationship .AddStudentNewRelationship__remove:before {
    content: "×";
    position: absolute;
    top: -2px;
    right: 6px;
    font-size: 20px;
    text-indent: 0;
}

.AdminAddStudent__newRelationship .AddStudentNewRelationship__remove:hover {
    background-color: rgba(255, 192, 203, 0.35);
}