<template name="Testing">


  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <input type="file" class="soundTest">


      <div class="file voice">
        <i class="icon  ion-mic-a imageIcon"></i>
      </div>
      {{#each Soundssrc}}
        {{#if isUploaded}}
          <div class="padding">
            <div>
              <audio id="{{_id}}" controls>
                <source src="{{url}}" type="audio/wav">

                Your browser does not support the audio element.
              </audio>
            </div>
            <div data-clipname="{{_id}}" class="playBtn">
              <i class="icon ion-play"></i>
            </div>
          </div>
        {{/if}}
      {{/each}}


      <!-- <div class="padding">
        <button class="button button-large button-stable button-block" data-action="showLoading">
          Show Loading (3s)
        </button>

        <button class="button button-large button-stable button-block" data-action="showLoadingWithBackdrop">
          Show Loading With Backdrop (3s)
        </button>

        <button class="button button-large button-stable button-block" data-action="showLoadingCustomTemplate">
          Show Loading With Template (3s)
        </button>
      </div>

      <button class="stop">stop</button> -->

      <!-- <div class="padding">
     <input type="file" accept="image/*" class="myFileInput">
   </div>

   <div class="padding">
     <input type="file" accept="audio/*" class="myFileInputSound">
   </div>

   <audio controls>
      <source src="{{mp3Src}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

   <div>
     <img src="{{src}}" alt="">
   </div> -->




    {{/ionContent}}
  {{/ionView}}


</template>
