/*****************************************************************************/
/* JoinClass: Style */
/*****************************************************************************/
.join-class {
  .class-code{
   color:gray;
   font-size:65%; 
  }
}

.joinBtn {
  margin-right: 1rem;

}

.leaveBtn {
  text-align: right;
}

.item-input-wrapper.white-background{
  background-color: white
  
  
}

