<template name="JoinClass">
  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{ _ "JoinAClass" }}</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " }}
  {{/contentFor}}



  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active doneClassBtn">{{_ "Done"}}</button>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

      <ul class="list join-class">

        {{#each joinClassArr}}
          <li class="item item-input">
            <div class="row" style="padding-left:0">
              <div class="col" style="padding-left:0">
                {{className}}
                
               <br/><span class='class-code'>@{{this.classCode}}</span> 
              </div>
              <div class="col leaveBtn" data-classId="{{_id}}">
                Leave
              </div>
            </div>
          </li>
        {{/each}}

        {{#autoForm schema=joinClassSchema id="joinClassForm" type="method" meteormethod="class/join"}}
        <li>
            <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper white-background">
                <i class="icon ion-at placeholder-icon"></i>
                {{> afFieldInput name="classCode" class="classCodeInput" placeholder=(_ "JoinAClassByInputClassCode") }}
              </label>
              <button class="button button-positive joinBtn">
                {{_ "Join"}}
              </button>
            </div>
         </li>  
        {{/autoForm}}
        
      </ul>

    {{/ionContent}}
  {{/ionView}}
</template>
