<template name="EmailSignup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" " href="/signin" }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "SignANewAccount"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button  class="button button-clear button-entering button-active createBtn"> {{_SignUp}} </button>
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}

  <div class="list">
    {{#autoForm schema=emailSignup id="signupform" type="method" meteormethod="signup/email" }}

    <label class="item item-input">
          {{> afFieldInput name="firstname"  }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="lastname"  }}
    </label>
    {{#if isStudent}}
    <label class="item item-input">
          {{> afFieldInput name="dob" type='text' onfocus="(this.type='date')"  }}
    </label>
    {{/if}}

    <label class="item item-input">
          {{> afFieldInput name="email"  }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="password"  type='password' }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="confirmPassword"  type='password' }}
    </label>



    {{/autoForm}}

  </div>



          <!-- <div class="sign-form">
            <div class="list ">
              <label class="item item-input">
                <input type="text" data-bind="value : first" >
              </label>
              <label class="item item-input">
                <input type="text" data-bind="value : last" >
              </label>
              <label class="item item-input">
                <input type="text" data-bind="value : email" >
              </label>
              <label class="item item-input">
                <input type="password" data-bind="value : password" >
              </label>
              <label class="item item-input">
                <input type="password" data-bind="value : cpassword" >
              </label>
            </div>
          </div> -->
    {{/ionContent}}
  {{/ionView}}
</template>
