<template name="EmailSignup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="" }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Sign a new account</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button  class="button button-clear button-entering button-active createBtn">Sign up</button>
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}

  <div class="list">
    {{#autoForm schema=emailSignup id="signupform" type="method" meteormethod="signup/email" }}

    <label class="item item-input">
          {{> afFieldInput name="firstname" placeholder="First Name" }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="lastname" placeholder="Last Name" }}
    </label>
    {{#if isStudent}}
    <label class="item item-input">
          {{> afFieldInput name="dob" type='text' onfocus="(this.type='date')" placeholder="Date of Birth" }}
    </label>
    {{/if}}

    <label class="item item-input">
          {{> afFieldInput name="email" placeholder="Email" }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="password" placeholder="Password" type='password' }}
    </label>
    <label class="item item-input">
          {{> afFieldInput name="confirmPassword" placeholder="Confirm Password" type='password' }}
    </label>



    {{/autoForm}}

  </div>



          <!-- <div class="sign-form">
            <div class="list ">
              <label class="item item-input">
                <input type="text" data-bind="value : first" placeholder="First Name">
              </label>
              <label class="item item-input">
                <input type="text" data-bind="value : last" placeholder="Last Name">
              </label>
              <label class="item item-input">
                <input type="text" data-bind="value : email" placeholder="Email">
              </label>
              <label class="item item-input">
                <input type="password" data-bind="value : password" placeholder="Password">
              </label>
              <label class="item item-input">
                <input type="password" data-bind="value : cpassword" placeholder="Confirm password">
              </label>
            </div>
          </div> -->
    {{/ionContent}}
  {{/ionView}}
</template>
