<template name="Dob">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"DateOfBirth"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button  class="button button-clear button-entering button-active createBtn">Create</button>
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}

        <div class="row row-center " style="height:60vh">
          <div class="col" style="text-align:center"><h2>{{_"Whatisyourdateofbirth"}}}</h2></div>
        </div>


        <input type="date">




    {{/ionContent}}
  {{/ionView}}
</template>
