<template name='ClassInformationForWebUser'>
	
  {{#contentFor "headerButtonLeft"}}
     <h1 class="title"> Little Genius </h1>
  {{/contentFor}}
  
    {{#ionView class='background-wallpaper'}}
    {{#ionContent }}

    <style>
      hr{
             padding: 0; border: none;  border-top: 1px solid rgba(0, 0, 0, 0.1);
           border-bottom: 1px solid rgba(255, 255, 255, 0.3); text-align: center;      
      }
        hr.withOr {
           padding: 0; border: none;  border-top: 1px solid rgba(0, 0, 0, 0.1);
           border-bottom: 1px solid rgba(255, 255, 255, 0.3); text-align: center;
            }


      hr.withOr:after 
      { content: "OR"; display: inline-block; position: relative; top: -1em; font-size: 0.8em; padding: 0 0.25em; background:
      white; }       
   </style>
  
   <div class="card padding" style=''>

      <div class='' >
          <div class='' >
            <h4 style='text-align:center;'>{{classOwnName}}</h4>
            <hr/>
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
              </label>              
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="email@school.edu">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Choose a password</span>
                <input type="text" placeholder="Password">
              </label>
            </div>
            <br>
            <button class="button button-block button-stable signUpBtn">Sign Up</button>
            <br/>
            <hr class='withOr'/>
            
            <br/>
            <button class="button button-block button-stable signUpBtn">Sign Up with Google</button>   
            <br/>
            <p style='text-align:center;'>By signing up, you agree to our <b>Terms of Service</b> and <b>Privacy Policy</b></p>
                     
          </div>
      </div>
          
    </div>
   
    {{/ionContent}}
  {{/ionView}} 
  
</template>