<template name="EmailSignin">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path='Login' text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Welcome back!</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
   <!-- <button class="button button-clear button-entering button-active loginBtn">{{_ "Login"}}</button>-->
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}


      <div class="sign-form" style='text-align:center;'>
        <button class="button button-full button-calm google-login-btn" style='color:white;'>
            <i class="icon ion-social-google"></i>
            Login With Google
        </button>
        OR          
        <div class="list ">
          <label class="item item-input">
            <input id='email' type="email" value='{{email}}' placeholder="{{_"Email"}}">
          </label>
          <label class="item item-input">
            <input id='password' type="password" value='{{password}}' placeholder="{{_"Password"}}">
          </label>
        </div>
        <button class="button button-full button-positive loginBtn">
        {{_ "Login"}}
        </button>        
        <a class='forget-password-btn'>{{_ "ForgetPassword"}}?</a>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
