<template name="EmailSignin">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"SignIn"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button  class="button button-clear button-entering button-active loginBtn">{{_ "Login"}}</button>
  {{/contentFor}}





  {{#ionView}}
    {{#ionContent}}


          <div class="sign-form">
            <div class="list ">
              <label class="item item-input">
                <input type="email" data-bind="value : email" placeholder="{{_"Email"}}">
              </label>
              <label class="item item-input">
                <input type="password" data-bind="value : pwd" placeholder="{{_"Password"}}">
              </label>
            </div>
            <div style="text-align:center">
              <!-- <a href="" class="">forgot passowrd?</a> -->
            </div>
          </div>
    {{/ionContent}}
  {{/ionView}}

</template>
