<template name="NotFound">
  
    {{#ionView}}
    {{#ionContent}}
    <style>
      .centerContent{
        width: 75%;
        position: fixed;
        left: 50%;
        margin-left: -37.5%;
        text-align: center;
      }
    </style>
    <div class='centerContent '>
      <!--todo localize-->
       <h3 class=''>Sorry.<br/> Little Genius ate the page you were looking for. </h3>
       <p><a class='homeBtn'>Go to the <span style="color:#ACDA46">home page</span></a></p>
       <p><img class='' style='max-width:100%;' src='/img/sammy-404.gif'/></p>
    </div>
    {{/ionContent}}
  {{/ionView}}
      
</template>

