<template name="TabChat">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"Chat"}}</h1>

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <div style="position: absolute; right: 0 ; width:25%; ">
      <a href="{{ pathFor 'ChatInvite' }}" class="button button-clear button-entering button-active">
        <i class="icon ion-chatbubble-working"></i>
      </a>
      {{#if IAMTeacher}}
        <a href="{{ pathFor 'Chatoption' }}" class="button button-clear button-entering button-active">
          <i class="icon ion-gear-a"></i>
        </a>
      {{/if}}
    </div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="tab-chat">
      <div class="listview">
        <div class="listview-container">
        {{#with getAllMyChatRooms }}

          <div class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" class="searchbar" placeholder="{{_ 'search'}}">
          </div>

          {{#each this}}
            {{#if isHide }}
              <a href="{{ pathFor 'ChatRoom' chatRoomId=_id }}">
                <div class="item">
                  <h2>{{chatroomMenberName  }}</h2>

                  <div class="description">{{lasttext messagesObj}}</div>
                </div>
              </a>
            {{/if}}
          {{/each}}

        {{else}}
          
          <div class="row row-center listview-nth">
            <div class="col">
              {{_ "No_chat_yet" }} <br/><br/>
              <a class="button button-stable long-button" href="{{pathFor 'ChatInvite'  }}"> {{_ "StartNewChat" }} </a>
            </div>
          </div>

        {{/with}}
        </div>
      </div>
     </div>
    {{/ionContent}}
  {{/ionView}}

</template>