<template name="TabChat">

  {{#contentFor "headerButtonLeft"}}
   <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"Chat"}}</h1>

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <div style="position: absolute; right: 0 ;">
      <a href="{{ pathFor 'ChatInvite' school=getCurrentSchoolName}}" class="button button-clear button-entering button-active">
        <i class="icon ion-chatbubble-working"></i>
      </a>
      {{#if displayChatOption}}
        <a href="{{ pathFor 'Chatoption' }}" class="button button-clear button-entering button-active">
          <i class="icon ion-gear-a"></i>
        </a>
      {{/if}}
    </div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="tab-chat">
      <div class="listview">
        <div class="listview-container">
        {{#with getAllMyChatRooms }}

          <div class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" class="searchbar" placeholder="{{_ 'search'}}">
          </div>

          {{#each this}}
            {{#if isHide }}

              <a href="{{ pathFor 'ChatRoom' chatRoomId=_id }}">
                <div class="item item-icon-left" style="padding-top: 3px; padding-bottom: 3px;min-height:50px;">
                  {{{newMessageCounter _id}}}                  
                    {{#if isEmoji}}
                        <i class="icon {{chatRoomUserAvatar}} e1a-1x emojicon"></i>
                    {{else}}
                        <img class="icon e1a-1x icon-avatar" src="{{chatRoomUserAvatar}}" />
                    {{/if}}
                  <h2>{{chatroomMemberName 4 }}</h2>
                  {{#if Template.subscriptionsReady}}
                    <div class="description">{{lasttext _id}}</div>
                    <div class="description">{{formatTime2 this.lastUpdatedAt}}</div>
                  {{/if}}
                </div>
              </a>
            {{/if}}
          {{else}}
            
            <div class="row row-center listview-nth">
              <div class="col">
                {{_ "No_chat_yet" }} <br/><br/>
                <a class="button button-stable long-button" href="{{pathFor 'ChatInvite'  school=getCurrentSchoolName}}"> {{_ "StartNewChat" }} </a>
              </div>
            </div>            
          {{/each}}
          


        {{/with}}
        </div>
      </div>
     </div>
    {{/ionContent}}
  {{/ionView}}

</template>