<template name="Feedback">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "Feedback"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active feedbackSend">{{_"Send"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

          <textarea class="feedback feedbackContent"
                    placeholder="{{_"feedbackTextarea"}}"></textarea>

    {{/ionContent}}
  {{/ionView}}
</template>
