<template name="PrivateNote">


  {{#contentFor "headerTitle"}}
    <h1 class="title">{{username}}</h1>
  {{/contentFor}}




  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active doneCommentsBtn">{{_ "Done"}}</button>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

      <div class="private-note">


        <div class="item item-input">
          <textarea style="height:200px;font-size:18px;"
                    placeholder="{{_ "Take_a_private_note"}}"
                    class="Comments">{{Comments}}</textarea>
        </div>
        <!--TODO merge the display of joined classes function into the UserDetail template -->
        <!--plus the implementation of class removal is actually buggy ! so remove it for now-->
        <!--See GitHub: Removal of joined class by teacher is not working #138-->
        <!--<div class="list">-->
          <!--<div class="item item-divider"> {{_ "Joined_Classes"}} </div>-->
          <!--{{#each getJoinedClassCreatedByMe}}-->
          <!--<div class="item item-icon-left removeStd" data-classid="{{_id}}">-->
            <!--<i class="icon ion-minus-circled" style="color:red"></i>-->
            <!--{{className}}-->
          <!--</div>-->
          <!--{{/each}}-->
        <!--</div>-->

      </div>

    {{/ionContent}}
  {{/ionView}}

</template>
