$stable: #ACDA46;
$positive: #ACDA46;

.genius-color  {
  color : #ACDA46;
}

.translucid  {
  color : #000000;
  opacity: 0.5;
}

.ion-ios-star.colored {
  color: #ffff66;
}

.ion-checkmark-round.colored {
  color: #ACDA46;
}

.ion-close-round.colored {
  color: red;
}

.ion-help.colored {
  color: #00bfff;
}

.description {
  font-size: 0.8rem;
  color: #999;
}

.NoRecord {
  text-align: center;
  font-size: 5rem;
}

.bg {
  background-image: url("img/login.jpg");
  background-size: cover;
  background-position: center;
}

.wallpaper {
  background-image: url("img/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.item {
  //  border-top: 1px solid #ddd !important;
  //  border-bottom: 1px solid #ddd !important;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
}

.icon.disabled {
  opacity: 0.5;
}

@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';

// .content.overflow-scroll { bottom: 0px !important; }

a {
  text-decoration: none !important;
  color: #333 !important;
}

.shouldhide {
  display: none;
}

.badge.badge-assertive {
  left: calc(50% - 35px);
  width: 28px;
}

.help-block{
		color: $assertive; 
		font-size: $font-size-small;
}

.popup-container .popup{
	  
    .button.button-positive{
      flex:3;
    }
    
    .button.button-light{
      font-size: smaller;
    }
}

.larger{
  font-size: x-large;
}

.no-padding{
  padding:0;
}

.less-padding{
  padding:2px;
}

.less-top-bottom-padding{
  padding-top:2px;
  padding-bottom:2px;
}

.long-button{
  width:65%;
}

.less-top-bottom-margin{
  margin-top:2%;
  margin-bottom:2%;
}

.responsive-img{
  max-width: 100%;
}

.background-wallpaper{
  background-image: url("/img/wallpaper.jpg"); 
  background-size:cover; 
  margin-bottom:0px;
}