
$stable:                          #ACDA45 ;
$positive:                        #ACDA45 ;




@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.content.overflow-scroll { bottom: 0px !important; }

a {
  text-decoration: none !important ;
  color: #333 !important;
}

.shouldhide{
  display: none;
}
