$stable: #ACDA45;
$positive: #ACDA45;

.ion-ios-star.colored {
  color: yellow;
}

.ion-checkmark-round.colored {
  color: green;
}

.ion-close-round.colored {
  color: red;
}

.ion-help.colored {
  color: purple;
}

.description {
  font-size: 0.8rem;
  color: #999;
}

.NoRecord {
  text-align: center;
  font-size: 5rem;
}

.bg {
  background-image: url("img/login.jpg");
  background-size: cover;
  background-position: center;
}

.wallpaper {
  background-image: url("img/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.item {
  //  border-top: 1px solid #ddd !important;
  //  border-bottom: 1px solid #ddd !important;
  border-top: 0 transparent;
  border-bottom: 0 transparent;
}

.icon.disabled {
  opacity: 0.5;
}

@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';

// .content.overflow-scroll { bottom: 0px !important; }

a {
  text-decoration: none !important;
  color: #333 !important;
}

.shouldhide {
  display: none;
}

.badge.badge-assertive {
  left: calc(50% - 35px);
  width: 28px;
}

.help-block{
		color: $assertive; 
		font-size: $font-size-small;
}

.popup-container .popup{
	  
    .button.button-positive{
      flex:3;
    }
    
    .button.button-light{
      font-size: smaller;
    }
}

.larger{
  font-size: x-large;
}

.no-padding{
  padding:0;
}

.less-padding{
  padding:2px;
}