
$stable:                          #ACDA45 ;
$positive:                        #ACDA45 ;


.ion-ios-star.colored{
  color: yellow;
}
.ion-checkmark-round.colored{
  color: green;
}
.ion-close-round.colored{
  color: red;
}
.ion-help.colored{
  color: purple;
}
.description{
  font-size: 0.8rem;
  color: #999;
}

.NoRecord{
  text-align: center;
  font-size: 5rem;
}

.background{
  background-image: url("img/login.jpg");
  background-size: cover;
  background-position: center;
}
.bg{
  background-image: url("img/login.jpg");
  background-size: cover;
  background-position: center;
}






@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';

// .content.overflow-scroll { bottom: 0px !important; }



a {
  text-decoration: none !important ;
  color: #333 !important;
}

.shouldhide{
  display: none;
}

.badge.badge-assertive{
  left: calc( 50% - 35px );
  width: 28px;
}

