/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
// @import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

$themeBlue : #3373B8;
$themeFrontLight:#FFFFFF;

.bar.bar-stable{
	background-color: $themeBlue;
	.title,.button{
		color: $themeFrontLight;
	}
}