/*Landing Page CSS*/
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/landingVid.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-top: 90px;
}

.vert-text {
  display: table-cell;
  vertical-align: text-top;
  text-align: center;
	box-sizing: border-box;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.vert-text h1 {
  font-size: 4.5em;
  font-weight: 700;
}
.vert-text h2 {
  font-size: 3.5em;
  font-weight: 700;
	margin-top: 30px;

}

.services {
  background: #F0F8FF;
  padding: 50px 0;
  color: #000000;
	box-sizing: border-box;
	display: table;
	height: 200px;
	width: 100%;
	position: relative;
	margin-top: 190px
}

@media (max-width: 768px) {
  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll;
  }
}

/*Video CSS*/

.grid-block, .main, .post, .comments li, .comment-form {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

html, body {
	margin: 0;
	padding: 0;
	color: #fff;

	font-family: 'Open Sans Condensed', Arial, sans-serif;
	font-weight: 300;
	font-size: 1em;
	/*Microscope Original*/
	background: #eee;
	/*color: #666666;*/ }

.navbar {
	margin-bottom: 10px; }
	/* line 32, ../sass/style.scss */
	.navbar .navbar-inner {
		-webkit-border-radius: 0px 0px 3px 3px;
		-moz-border-radius: 0px 0px 3px 3px;
		-ms-border-radius: 0px 0px 3px 3px;
		-o-border-radius: 0px 0px 3px 3px;
		border-radius: 0px 0px 3px 3px; }

#spinner {
	height: 300px; }

.post {
	/* For modern browsers */
	/* For IE 6/7 (trigger hasLayout) */
	*zoom: 1;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-in;
	-moz-transition: all 300ms 0ms ease-in;
	-o-transition: all 300ms 0ms ease-in;
	transition: all 300ms 0ms ease-in;
	position: relative;
	opacity: 1; }
	.post:before, .post:after {
		content: "";
		display: table; }
	.post:after {
		clear: both; }
	.post.invisible {
		opacity: 0; }
	.post .upvote {
		display: block;
		margin: 7px 12px 0 0;
		float: left; }
	.post .post-content {
		float: left; }
		.post .post-content h3 {
			margin: 0;
			line-height: 1.4;
			font-size: 18px; }
			.post .post-content h3 a {
				display: inline-block;
				margin-right: 5px; }
			.post .post-content h3 span {
				font-weight: normal;
				font-size: 14px;
				display: inline-block;
				color: #aaaaaa; }
		.post .post-content p {
			margin: 0; }
	.post .discuss {
		display: block;
		float: right;
		margin-top: 7px; }

.comments {
	list-style-type: none;
	margin: 0; }
	.comments li h4 {
		font-size: 16px;
		margin: 0; }
		.comments li h4 .date {
			font-size: 12px;
			font-weight: normal; }
		.comments li h4 a {
			font-size: 12px; }
	.comments li p:last-child {
		margin-bottom: 0; }

.dropdown-menu span {
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #bbb;
	white-space: nowrap; }

.load-more {
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px; }
	.load-more:hover {
		text-decoration: none;
		background: rgba(0, 0, 0, 0.1); }

/*BigVideo*/
.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.screen {
	position: relative;
	height: 100%;
	width: 100%; /*  NOTE:numVideos/100%  */
	float: left;

}
