.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

#AdminUsersImport__file-input {
    float: left;
    margin-right: 12px;
}

#AdminUsersImport__preview-table {
    margin-bottom: 32px;
}

.import-preview {
    width: 100%;
    overflow-y: scroll;
}

.align-bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}