<template name="UserDetail">

    {{#contentFor "headerTitle"}}
      <h1 class="title">User</h1>
    {{/contentFor}}




    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton text=""}}
    {{/contentFor}}



    <!-- {{#contentFor "headerButtonRight"}}
      <button  class="button button-clear button-entering button-active addClassBtn">Add</button>
    {{/contentFor}} -->


  {{#ionContent}}




      <div class="row row-center" style="height:40vh">
        <div class="row"><h1>{{userPofile.profile.firstname}} {{userPofile.profile.lastname}}</h1></div>
      </div>

      <div class="padding">Recive notice method</div>

      <div class="list">
        <div href="#" class="item item-icon-left">
           <i class="icon ion-ios-email"></i>
           Email
        </div>
        <div href="#" class="item item-icon-left">
           <i class="icon ion-ios-telephone"></i>
           Android
        </div>
      </div>

      <div class="padding">Their class</div>
      <div class="list">
        {{#each hisJoinedClasses}}
          <div class="item">{{className}}</div>
        {{/each}}
      </div>


    {{/ionContent}}

</template>
