/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
}

.login-header {
  width: 100vw;
}

.login-footer {
  width:100vw;
  bottom:0;
  position: fixed;
}

.login-logo {
  background-position: center;
  padding-top: 2%;
}

.motto {
  font-family: HelveticaNeue-Light, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 30%;
  text-align: center;
}

/*.button-outline {*/
.button-login {
  /*color: #fff ! important;*/
  font-weight: bold;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

/*  background: transparent;
  color: #fff;

@if $text-color == "" {
//  $text-color: $color;
//}
//color:
//&.active,
//&.activated {
   background-color: $color;
   box-shadow: none;
   color: #fff;
 //}*/


/*
.videojs-background-wrap {
     overflow:hidden;
     position:absolute;
     height:100%;
     width:100%;
     top:0;
     left:0;
     z-index: -998;
 }
 */


