<template name="Login">
<!--{{#ionView class="bg" }}-->
<!--{{#ionContent}}-->


    <!--{{> bkvideo }}-->


    <div class="wrapper">
        <!--<div class="screen" id="screen-1" data-video="vid/mov_test_dan.mp4">-->
        <div class="screen" id="screen-1" data-video="http://www.w3schools.com/html/mov_bbb.mp4">
            <!--works on web not on ios-->
            <!--<img src="img/landingVid.jpg" class="big-image"/>-->
        </div>
    </div>

    <div style="width:100vw;height:60vh"></div>
    <div class="padding-horizontal">
      <!-- <a href="{{ pathFor 'role' }}" class="button button-block button-positive" > -->
      <a href="" class="button button-block button-positive" data-ion-modal="_modal" >
        {{_ "SignUp"}}
      </a>
    </div>
    <div class="padding-horizontal">
      <a href="{{ pathFor 'EmailSignin' }}" class="button button-block button-positive" >
        {{_ "Login"}}
      </a>
    </div>
    <div class="padding-horizontal">
      <a class="button button-block button-positive gmailLoginBtn" >
        {{_ "Gmaillogin"}}
      </a>
    </div>


  <!--{{/ionContent}}-->
<!--{{/ionView}}-->


</template>
