<template name="Login">


{{#ionContent}}


  <div style="width:100vw;height:60vh"></div>
  <div class="padding-horizontal">
    <a href="{{ pathFor 'role' }}" class="button button-block button-positive" >
      Sign Up
    </a>
  </div>
  <div class="padding-horizontal">
    <a href="{{ pathFor 'email-signin' }}" class="button button-block button-positive" >
      Login
    </a>
  </div>
  <div class="padding-horizontal">
    <a class="button button-block button-positive gmailLoginBtn" >
      Gmail login
    </a>
  </div>

  {{/ionContent}}
  


</template>
