<template name="AddClass">
  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{_ "AddClass"}} </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-entering button-active addClassBtn">{{_ "Add"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#autoForm  validation="keyup" collection="Classes" id="insertClass" type="insert"}}
        <ul class="list " style="margin-bottom:0;">
          <li class="item item-input">
            {{> afFieldInput name="className" placeholder="Class Name" }}
            {{#if afFieldIsInvalid name='className'}}
              <br><span class="help-block">{{afFieldMessage name='className'}}</span>
            {{/if}}
          </li>

          <li class="" >
            <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper white-background">
                <i class="icon ion-at placeholder-icon"></i>
                {{> afFieldInput name="classCode" class="classCodeInput" placeholder="Class Code" }}
                {{#if afFieldIsInvalid name='classCode'}}
                  <br><span class="help-block ">{{afFieldMessage name='classCode'}}</span>
                {{/if}}
              </label>
            </div>
          </li>

          <li class="item">    
           {{> afFieldInput name="classavatar" style='display:none;' placeholder="green_apple" value=getClassAvatar }}
           <i id='pick-an-icon-btn' class="icon e1a-{{getClassAvatar}} e1a-4x emojicon"></i> 
          </li>

          <li class="item item-toggle">
            <span class="description">{{_ "AnyoneInThisClassCanStartAChat"}}</span>

            <label class="toggle">
              {{> afFieldInput name="anyoneCanChat" class="checked"  }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>


          <li class="item item-toggle">
            <span class="description">{{_ "IWillOnlyMessagePeople13AndOlder"}}</span>

            <label class="toggle">
              {{> afFieldInput name="higherThirteen" class="checked"  }}
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>


        </ul>

        <div class="padding">
          <span class="description">{{_ "addClassDescription"}}</span>
        </div>


        <div class="padding">
          <span class="description">{{_ "addClassTerm" }}</span>
        </div>

      {{/autoForm}}

    {{/ionContent}}
  {{/ionView}}
</template>
