<template name="ClassPanelMsgNotice">

      {{#contentFor "headerTitle"}}
        <h1 class="title">{{classObj.className}}</h1>
      {{/contentFor}}

      {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton text=""}}
      {{/contentFor}}



      {{#contentFor "headerButtonRight"}}



      <div style="position: absolute; right: 0;">

        <!-- <a href="{{pathFor 'classEdit' classCode=classObj.classCode  }}"  class="button button-clear button-entering button-active "><i class="icon ion-information-circled"></i></a>

        <a href="{{ pathFor 'SendMessage' classCode=classObj.classCode }}"  class="button button-clear button-entering button-active">
          <i class="icon ion-compose"></i>
        </a>

        <button  class="button button-clear button-entering button-active addClassBtn">?</button> -->

      </div>
      {{/contentFor}}


     {{#ionView}}
    {{#ionContent}}




      <div class="container">









            <!-- <label class="item item-input item-select">
              <div class="input-label">
                {{content}}
              </div>
              <select id="{{msgId}}" class="chooseType" data-mgsid={{msgId}}>
                  <option value="">select</option>
                  <option value="like">good</option>
                  <option value="dislike">bad</option>
              </select>
              <div>like:{{like.length}}</div>
              <div>dislike:{{dislike.length}}</div>


            </label> -->



        <div class="list card">


          <div class="item ">
            <div class="row" style="padding:0">
              <div class="col" style="padding:0"><h2>{{classObj.className}}</h2></div>
              <div class="col" style="padding:0;text-align:right">{{classObj.createdAt}}</div>
            </div>
          </div>

          <div class="item ">
            <div>
              <span>{{msgObj.content}}</span>
            </div>
            <br>
            <p>
                {{#if isNotEmpty msgObj.star}}
                <a href="#" class="subdued">{{msgObj.star.length}} <i class="ion-ios-star"></i></a>
                {{/if}}
                {{#if isNotEmpty msgObj.checked}}
                <a href="#" class="subdued">{{msgObj.checked.length}} <i class="ion-checkmark-round"></i></a>
                {{/if}}
                {{#if isNotEmpty msgObj.close}}
                <a href="#" class="subdued">{{msgObj.close.length}} <i class="ion-close-round"></i></a>
                {{/if}}
                {{#if isNotEmpty msgObj.help}}
                <a href="#" class="subdued">{{msgObj.help.length}} <i class="ion-help"></i></a>
                {{/if}}
            </p>
          </div>
          <div class="item">
            {{#each msgObj.star}}
             <div><i class="ion-ios-star colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.checked}}
             <div><i class="ion-checkmark-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.close}}
             <div><i class="ion-close-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.help}}
             <div><i class="ion-help colored"></i> {{getName this}} </div>
            {{/each}}
            <!-- {{#each allMan}}
              <div><i class="{{geticon this }} colored"></i> {{getName this}} </div>
            {{/each}} -->

          </div>


        </div>






      </div>





      {{/ionContent}}
       {{/ionView}}
</template>
