<template name="ClassPanelMsgNotice">

        <style>
            /*.ClassPanelMsgNotice .list:last-child.card{
                margin-bottom: 0px;      
            }*/
        </style>
      <div class="ClassPanelMsgNotice">

        <!--the extra info-->
        <!--{{msgCode}}-->

        <div class=" ">

          <div class="item">
            {{#with msgObj.vote}}
            
            
                {{#each voteOptions}}
                    <div class="row">
                    <div class="col">                                  
                        <a href="#" class="subdued">{{this.votes.length}}</a>        
                            {{#with tryShowVoteOptionIcon ../voteType voteOption}}
                                {{#if this.ionicIcon}}
                                    <i class="{{this.ionicIcon}} colored"></i>
                                {{else}}
                                    {{this.voteOptionText}}
                                {{/if}}
                            {{/with}}
                    </div>
                    <div class="col col-75">  
                        {{#each this.votes}}
                            {{getNameById this}}<br/>
                        {{/each}}
                                                                             
                    </div>
                    </div>
               {{/each }}  
          
            {{/with}}             
            {{#each msgObj.checked}}
              <div><i class="ion-checkmark-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.close}}
              <div><i class="ion-close-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.star}}
              <div><i class="ion-ios-star colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.help}}
              <div><i class="ion-help colored"></i> {{getName this}} </div>
            {{/each}}
            <!-- {{#each allMan}}
              <div><i class="{{geticon this }} colored"></i> {{getName this}} </div>
            {{/each}} -->


          </div>
          <section class='comment-section'>
            <!--Display existing comments-->
            {{#with msgObj}}
                {{#each comment.comments}}
                    <div class="item item-button-right less-top-bottom-padding {{@index}} ">
                        {{#if isShown}}                     
                            <div style='display: flex;justify-content: space-between;align-items: baseline;'>
                                <h3>{{getNameById createdBy}} </h3>
                            <button data-msgid='{{../msgId}}' data-commentid='{{_id}}' data-action='hide' class="commentShownToggle button button-hide">
                                {{_ "Hide"}}
                            </button>
                            </div>                            
                            <p> {{comment}}</p>
                            <p> {{formatTimeFromNow createdAt}}</p>

                        {{else}}
                            <div style='display: flex;justify-content: space-between;align-items: baseline;'>
                                <h3>{{getNameById createdBy}} </h3>
                            <button data-msgid='{{../msgId}}' data-commentid='{{_id}}' data-action='show' class="commentShownToggle button button-positive">
                                {{_ "Show"}}
                            </button> 
                            </div>                             
                            <p><i style='color:red;' class="ion-ios-flag-outline colored">{{_ "ThisCommentIsHiddenFromJoinedMembers"}}</i><br/>{{comment}}</p>
                            <p> {{formatTimeFromNow createdAt}}</p>
                      
                        {{/if}}
                    </div>
                {{/each}}
            {{/with}}
            <!--Display existing comments end-->                      
          </section>

        </div>


      </div>
</template>
