<template name="ClassPanelMsgNotice">

        <style>
            /*.ClassPanelMsgNotice .list:last-child.card{
                margin-bottom: 0px;      
            }*/
        </style>
      <div class="ClassPanelMsgNotice">

        <!--the extra info-->
        <!--{{msgCode}}-->

        <div class=" ">

          <div class="item">
            {{#each msgObj.checked}}
              <div><i class="ion-checkmark-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.close}}
              <div><i class="ion-close-round colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.star}}
              <div><i class="ion-ios-star colored"></i> {{getName this}} </div>
            {{/each}}
            {{#each msgObj.help}}
              <div><i class="ion-help colored"></i> {{getName this}} </div>
            {{/each}}
            <!-- {{#each allMan}}
              <div><i class="{{geticon this }} colored"></i> {{getName this}} </div>
            {{/each}} -->

          </div>

        </div>


      </div>
</template>
