<template name="About">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{_ "About"}} </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
     {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
          <a href="{{ pathFor 'TermsOfService' }}"><div class="item"> {{_ "Terms_of_service"}}</div></a>
          <a href="{{ pathFor 'PrivacyPolicy' }}"><div class="item"> {{_ "Privacy_policy"}} </div></a>
          <!--<a href="{{getlegal}}"><div class="item">Terms and conditions</div></a>-->
         <!--see http://ionicmaterial.com/demo/-->
          <div class="item"> Version {{getVersion}} </div>
          <div class="item item-avatar"> <img src="/img/icon-hd-email.png"/>Little Genius Education, 2015</div>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
