<template name="TabYou">

    {{#contentFor "headerTitle"}}
      <h1 class="title">{{_"MyAccount"}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
      <!-- {{>ionNavBackButton text=""}} -->
    {{/contentFor}}

    {{#ionView}}
    {{#ionContent}}
		<div class="list">

			<a href="{{ pathFor 'MyAccount'  }}"><div class="item" >{{_"MyAccounts"}}</div></a>

			<div class="item" >{{_"Notification"}}</div>
			<div class="item" >{{_"About"}}</div>
			<a href="{{pathFor 'FeedBack'}}"><div class="item" >{{_"Feedback"}}</div></a>
			<div class="item" >{{_ "LoveLittleGenius"}}</div>
			<div class="item signOut" >{{_ "SignOut"}}</div>
		</div>
    {{/ionContent}}
    {{/ionView}}

</template>
