<template name="TabYou">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "MyAccount"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <!-- {{>ionNavBackButton text=""}} -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">

        <a href="{{ pathFor 'MyAccount'  }}"><div class="item item-icon-left item-icon-right"><i class="icon ion-person"></i> {{_ "MyAccount"}}<i class="icon ion-ios-arrow-forward"></i></div></a>
        <a href="{{ pathFor 'NotificationSetting' }}"><div class="item item-icon-left item-icon-right"> <i class="icon ion-chatbubbles"></i> {{_ 'Notification'}}<i class="icon ion-ios-arrow-forward"></i></div></a>
        <a href="{{pathFor 'Feedback'}}"><div class="item item-icon-left item-icon-right"><i class="icon ion-ios-paper-outline"></i> {{_ "Feedback"}}<i class="icon ion-ios-arrow-forward"></i></div></a>
        <div class="item item-icon-left item-icon-right love"><i class="icon ion-heart genius-color"></i> {{_ "LoveLittleGenius"}}<i class="icon ion-ios-arrow-forward"></i></div>
        <a href="{{ pathFor 'Help' }}"><div class="item item-icon-left item-icon-right"> <i class="icon ion-help-buoy"></i> {{_ 'Help'}}<i class="icon ion-ios-arrow-forward"></i></div></a>
        <a href="{{ pathFor 'About' }}"><div class="item item-icon-left item-icon-right"> <i class="icon ion-ios-information-outline"></i> {{_ 'About'}}<i class="icon ion-ios-arrow-forward"></i></div></a>
        <div class="item item-icon-left item-icon-right signOut"><i class="icon ion-log-out"></i> {{_ "SignOut"}}<i class="icon ion-ios-arrow-forward"></i></div>

      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
