<template name="TabYou">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_"MyAccount"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <!-- {{>ionNavBackButton text=""}} -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">

        <a href="{{ pathFor 'MyAccount'  }}">
          <div class="item"><i class="icon ion-person"></i> {{_"MyAccount"}}</div>
        </a>

        <a href="{{ pathFor 'NotificationSetting' }}">
          <div class="item"> <i class="icon ion-chatbubbles"></i> {{_ 'Notification'}}</div>
        </a>

         <a href="{{getlegal}}"  >
          <div class="item about"><i class="icon ion-ios-information-outline"></i> {{_ "About"}}</div>
         </a>
        <a href="{{pathFor 'FeedBack'}}">
          <div class="item"><i class="icon ion-ios-paper-outline"></i> {{_ "Feedback"}}</div>
        </a>

        <div class="item love"><i class="icon ion-heart"></i> {{_ "LoveLittleGenius"}}</div>

        <div class="item signOut"><i class="icon ion-log-out"></i> {{_ "SignOut"}}</div>
        <!--<div class="item signOut">{{_ "SignOut"}}</div>-->
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
